@mixin flex($justify, $align, $direction: row, $wrap: nowrap, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid($rows, $gap, $justify: center, $align: center) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: $rows;
    grid-gap: $gap;
    justify-content: $justify;
    align-items: $align;
}

@mixin positioning($position, $top, $right, $bottom, $left, $width: auto, $height: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
}

@mixin btn($bgBorder, $bg, $color, $bg1, $color1) {
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid $bgBorder;
    background: $bg;
    color: $color;
    transition: $transition;

    &:hover {
        transition: $transition-out;
        cursor: pointer;
        background-color: $bg1;
        color: $color1;
    }

    @media(max-width:576px) {
        padding: 10px 25px;
        font-size: 0.9rem;
    }
}

@mixin breakpoint($breakpoint) {

    @if $breakpoint==xl {
        @media (max-width: 1200px) {
            @content ;
        }
    }

    @else if $breakpoint==lg {
        @media (max-width: 992px) {
            @content ;
        }
    }

    @else if $breakpoint==md {
        @media (max-width: 768px) {
            @content ;
        }
    }

    @else if $breakpoint==sm {
        @media (max-width: 576px) {
            @content ;
        }
    }

    @else if $breakpoint==xs {
        @media(max-width:450px) {
            @content;
        }
    }
}