.pricing {

    background-color: $light-bg;

    .section-title {
        margin-bottom: 1.5rem;
    }

    .pricing-wrapper {
        @include grid(18rem);

        @media(max-width:576px){
            @include grid(200px);
        }


        .pricing-item {
            background-color: $white;
            padding: 2rem;
            text-align: center;
            border: $border;
            box-shadow: $box-shadow;

            i {
                @include iconBox(5rem, 5rem, 5rem, 5rem, 2rem);
                background-color: $yellow;
                margin-bottom: 1.5rem;
            }

            h3 {
                @include titleText(1.5rem, 1.5rem, 1.5rem);
                font-weight: 400;
            }

            .price {
                margin-bottom: 1rem;
                @include graphText(2.5rem);
                color: $black;
                letter-spacing: 1.5px;

                @media(max-width:576px) {
                    font-size: 2rem;
                }

                span {
                    font-size: 1.5rem;
                }
            }

            .list {

                p {
                    margin-bottom: 1rem;
                    @include graphText();
                }
            }
        }
    }

}