.services {
    background-color: $light-bg;

    &-wrapper {
        @include grid(20rem);

        .services-item {
            text-align: center;
            background-color: $white;
            box-shadow: $box-shadow;
            padding: 3rem;
            border: $border;
            margin-top: 2rem;

            &:hover>img {
                transform: translateY(-1rem);
            }

            img {
                height: 7rem;
                width: auto;
            }

            h3 {
                @include titleText(1.5rem, 1rem, 1.2rem);
                margin-top: 1rem;
            }

            p {
                @include graphText();
            }
        }
    }
}