.calculate {
    padding-bottom: 0;
    align-items: center;
    @include grid(300px);

    @include breakpoints(350px) {
        @include grid(200px);
        gap: 4rem;
    }

    &__content {

        .section__subtitle {
            text-align: left;
        }

        .calculate__desc {
            margin-bottom: 2rem;
            max-width: 550px;
        }

        .calculate__form {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .calculate__box {
                position: relative;
                border: 2px solid $primaryColor;
                flex: 1;

                .calculate__input {
                    background: transparent;
                    padding: 1.5rem;
                    color: $white;

                    &::-webkit-inner-spin-button {
                        appearance: none;
                    }
                }

                .calculate__label {
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .calculate__button {
                @include btn($primaryColor, $white);
                width: 100%;
            }
        }

        .calculate__meassage {
            margin-top: 1rem;
            color: $primaryColor;
            font-size: 1.1rem;
            position: absolute;
            transform: translate(0);
        }
    }

    &__image {
        margin: 0 auto;

        img {
            width: 350px;

            @include breakpoints(576px) {
                width: 250px;
            }
        }
    }
}