.program {

    &__wrapper {
        @include grid(250px);
        margin-top: 3rem;

        @include breakpoints(280px) {
            @include grid(200px);
        }

        .program__item {
            background-color: $secondaryColor;
            padding: 1.5rem;

            &:hover {
                background-color: $primaryColor;
            }

            &:hover>.program__title {
                color: $body-color;
            }

            &:hover>.program__desc {
                color: $body-color;
            }

            .program__img {

                img {
                    width: 120px;


                    @include breakpoints(576px) {
                        width: 90px;
                    }
                }
            }

            .program__title {
                font-size: 1.5rem;
                margin: 1rem 0;
            }

            .program__desc {
                font-size: 1.1rem;
                line-height: 1.2;
                letter-spacing: 1.2px;

                @include breakpoints(576px) {
                    font-size: 0.9rem;
                }
            }

            .program__btn {
                margin-top: 1rem;
                @include btn($primaryColor, $white);
            }
        }
    }
}