@keyframes flicker {
    0% {
        filter: blur(5px) brightness(0);
    }

    3% {
        filter: blur(5px) brightness(1);
    }

    6% {
        filter: blur(5px) brightness(0);
    }

    7% {
        filter: blur(5px) brightness(1);
    }

    8% {
        filter: blur(5px) brightness(0);
    }

    9% {
        filter: blur(5px) brightness(1);
    }

    10% {
        filter: blur(5px) brightness(0);
    }

    20% {
        filter: blur(5px) brightness(1);
    }

    50% {
        filter: blur(5px) brightness(1);
    }

    99% {
        filter: blur(5px) brightness(0);
    }

    100% {
        filter: blur(5px) brightness(1);
    }
}