@mixin flex($justify: center, $align: center, $direction: row, $wrap: nowrap, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid($value, $gap: 0) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: $gap;
}


@mixin positioning($position, $top: auto, $right: auto, $bottom: auto, $left: auto, $width: auto, $height: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
}

@mixin icon($width, $bg, $color) {
    border-radius: 50%;
    text-align: center;
    width: $width;
    height: $width;
    line-height: $width;
    background-color: $bg;
    color: $color;
}