/*--------------------------
Google fonts link
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
/*--------------------------
External files
----------------------------*/
/*--------------------------
Partials
----------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all .5s linear;
  list-style-type: none;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  font-size: 100%;
  background-color: #121717;
  color: #fff;
  line-height: 1.5;
  font-family: 'Red Hat Display', sans-serif; }
  @media (max-width: 576px) {
    body {
      font-size: 70%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: #fafafa; }

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

i {
  cursor: pointer; }

section {
  padding: 70px 0px; }

.container {
  width: 80%;
  margin: 0 auto; }

.section__title {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 1.5px;
  color: #abdf3a;
  text-transform: capitalize;
  font-weight: 400;
  transform: rotate(2deg);
  font-size: 2rem;
  text-align: center; }
  @media (max-width: 576px) {
    .section__title {
      font-size: 1.6rem; } }

.section__subtitle {
  -webkit-text-stroke: 1px #abdf3a;
  text-transform: uppercase;
  font-size: 3rem;
  color: transparent;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 1rem 0; }
  .section__subtitle span {
    -webkit-text-stroke: 1px #fff;
    color: #fff; }
  @media (max-width: 576px) {
    .section__subtitle {
      font-size: 1.8rem; } }

.nav {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1000;
  padding: 2rem 0; }
  .nav.bg-nav {
    background-color: #121717; }
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0; }
    .nav__wrapper .nav__logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row nowrap;
      gap: 1rem;
      font-size: 2rem;
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      font-weight: 700; }
      @media (max-width: 576px) {
        .nav__wrapper .nav__logo {
          font-size: 1rem; } }
      @media (max-width: 576px) {
        .nav__wrapper .nav__logo {
          gap: .6rem; } }
      .nav__wrapper .nav__logo img {
        width: 4rem; }
        @media (max-width: 576px) {
          .nav__wrapper .nav__logo img {
            width: 2rem; } }
    @media (max-width: 1200px) {
      .nav__wrapper .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        left: auto;
        border-left: 2px solid #fff;
        width: 40%;
        background-color: #121717; } }
    .nav__wrapper .nav__menu .nav__list {
      display: flex;
      align-items: center; }
      @media (max-width: 1200px) {
        .nav__wrapper .nav__menu .nav__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 5rem 0 0 2rem; } }
      .nav__wrapper .nav__menu .nav__list .nav__item {
        margin-right: 2rem; }
        @media (max-width: 1200px) {
          .nav__wrapper .nav__menu .nav__list .nav__item {
            margin-bottom: 2.5rem; } }
        .nav__wrapper .nav__menu .nav__list .nav__item .nav__link {
          font-size: 1.2rem;
          color: #fff;
          margin: 0;
          text-transform: capitalize;
          font-weight: 400; }
          @media (max-width: 576px) {
            .nav__wrapper .nav__menu .nav__list .nav__item .nav__link {
              font-size: 1rem; } }
          .nav__wrapper .nav__menu .nav__list .nav__item .nav__link:hover {
            color: #abdf3a; }
          .nav__wrapper .nav__menu .nav__list .nav__item .nav__link.nav__button {
            display: inline-block;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            text-transform: capitalize;
            background-color: #fff;
            color: black;
            font-weight: 600;
            cursor: pointer;
            color: black; }
            @media (max-width: 576px) {
              .nav__wrapper .nav__menu .nav__list .nav__item .nav__link.nav__button {
                font-size: 0.9rem;
                padding: 1rem; } }
            .nav__wrapper .nav__menu .nav__list .nav__item .nav__link.nav__button:hover {
              background-color: #abdf3a; }
    .nav__wrapper .nav__menu .nav__close {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      bottom: auto;
      left: auto;
      font-size: 2.5rem; }
      @media (max-width: 1200px) {
        .nav__wrapper .nav__menu .nav__close {
          display: block; } }
      @media (max-width: 576px) {
        .nav__wrapper .nav__menu .nav__close {
          font-size: 1.5rem; } }
    .nav__wrapper .nav__menu.show-menu {
      right: 0%; }
    @media (max-width: 600px) {
      .nav__wrapper .nav__menu {
        width: 70%; } }
    .nav__wrapper .nav__toggle {
      font-size: 2.5rem;
      display: none; }
      @media (max-width: 1200px) {
        .nav__wrapper .nav__toggle {
          display: block; } }
      @media (max-width: 576px) {
        .nav__wrapper .nav__toggle {
          font-size: 1.5rem; } }

.home {
  position: relative;
  margin-top: 7rem;
  padding: 0; }
  .home__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    align-items: center; }
    @media (max-width: 500px) {
      .home__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem; } }
    @media (max-width: 1100px) {
      .home__wrapper .home__content {
        text-align: center; } }
    .home__wrapper .home__content .home__subtitle {
      color: transparent;
      -webkit-text-stroke: 1px #abdf3a;
      font-size: 2.5rem;
      letter-spacing: 1.2px; }
      @media (max-width: 1120px) {
        .home__wrapper .home__content .home__subtitle {
          font-size: 2rem; } }
      @media (max-width: 576px) {
        .home__wrapper .home__content .home__subtitle {
          font-size: 1.5rem; } }
    .home__wrapper .home__content .home__title {
      margin: 0.5rem 0;
      font-size: 4rem;
      font-weight: bolder;
      letter-spacing: 1.2px; }
      @media (max-width: 1120px) {
        .home__wrapper .home__content .home__title {
          font-size: 3.5rem; } }
      @media (max-width: 576px) {
        .home__wrapper .home__content .home__title {
          font-size: 2rem; } }
    .home__wrapper .home__content .home__desc {
      font-size: 1.1rem;
      max-width: 500px; }
      @media (max-width: 1120px) {
        .home__wrapper .home__content .home__desc {
          margin: auto; } }
      @media (max-width: 576px) {
        .home__wrapper .home__content .home__desc {
          font-size: 1rem; } }
    .home__wrapper .home__content .home__btn {
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      background-color: #abdf3a;
      color: black;
      font-weight: 600;
      cursor: pointer;
      margin-top: 1rem; }
      @media (max-width: 576px) {
        .home__wrapper .home__content .home__btn {
          font-size: 0.9rem;
          padding: 1rem; } }
      .home__wrapper .home__content .home__btn:hover {
        background-color: #fff; }
      .home__wrapper .home__content .home__btn i {
        transform: translateX(5px); }
      .home__wrapper .home__content .home__btn.btn__flex {
        display: inline-flex;
        align-items: center; }
        .home__wrapper .home__content .home__btn.btn__flex:hover i {
          transform: translateX(10px); }
    .home__wrapper .home__images {
      position: relative;
      margin: 0 auto; }
      .home__wrapper .home__images .home__img {
        position: relative;
        z-index: 1;
        width: 550px; }
        @media (max-width: 768px) {
          .home__wrapper .home__images .home__img {
            width: 100%; } }
      .home__wrapper .home__images .home__triangle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        background-color: #abdf3a; }

.program__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem; }
  @media (max-width: 280px) {
    .program__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem; } }
  .program__wrapper .program__item {
    background-color: rgba(165, 169, 158, 0.07);
    padding: 1.5rem; }
    .program__wrapper .program__item:hover {
      background-color: #abdf3a; }
    .program__wrapper .program__item:hover > .program__title {
      color: #121717; }
    .program__wrapper .program__item:hover > .program__desc {
      color: #121717; }
    .program__wrapper .program__item .program__img img {
      width: 120px; }
      @media (max-width: 576px) {
        .program__wrapper .program__item .program__img img {
          width: 90px; } }
    .program__wrapper .program__item .program__title {
      font-size: 1.5rem;
      margin: 1rem 0; }
    .program__wrapper .program__item .program__desc {
      font-size: 1.1rem;
      line-height: 1.2;
      letter-spacing: 1.2px; }
      @media (max-width: 576px) {
        .program__wrapper .program__item .program__desc {
          font-size: 0.9rem; } }
    .program__wrapper .program__item .program__btn {
      margin-top: 1rem;
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      background-color: #abdf3a;
      color: black;
      font-weight: 600;
      cursor: pointer; }
      @media (max-width: 576px) {
        .program__wrapper .program__item .program__btn {
          font-size: 0.9rem;
          padding: 1rem; } }
      .program__wrapper .program__item .program__btn:hover {
        background-color: #fff; }

.choose__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
  align-items: center; }
  @media (max-width: 450px) {
    .choose__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem; } }
  .choose__wrapper .choose__images {
    position: relative;
    margin: 0 auto; }
    .choose__wrapper .choose__images .choose__img {
      position: relative;
      z-index: 1;
      width: 450px; }
      @media (max-width: 768px) {
        .choose__wrapper .choose__images .choose__img {
          width: 100%; } }
    .choose__wrapper .choose__images .choose__triangle {
      clip-path: polygon(0 0, 0 100%, 100% 100%);
      background-color: #abdf3a;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  @media (max-width: 1164px) {
    .choose__wrapper .choose__content {
      text-align: center; } }
  .choose__wrapper .choose__content .section__title,
  .choose__wrapper .choose__content .section__subtitle {
    text-align: left; }
    @media (max-width: 1164px) {
      .choose__wrapper .choose__content .section__title,
      .choose__wrapper .choose__content .section__subtitle {
        text-align: center; } }
  .choose__wrapper .choose__content .choose__desc {
    max-width: 450px; }
    @media (max-width: 1164px) {
      .choose__wrapper .choose__content .choose__desc {
        margin: auto; } }
  .choose__wrapper .choose__content .choose__box {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 576px) {
      .choose__wrapper .choose__content .choose__box {
        text-align: center; } }
    .choose__wrapper .choose__content .choose__box .choose__group .choose__number {
      font-weight: 400;
      font-family: 'Kaushan Script', cursiv;
      margin-bottom: .4rem;
      font-size: 2rem; }

/*# sourceMappingURL=style.css.map */
