/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
@keyframes heroHeadingAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes heroHeadingAnimation1 {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes heroButtonAnimation1 {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
/*----------------------------------------
PARTIALS
----------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }

body {
  color: #666666;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #030f27; }

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
  color: #666666; }
  a:hover, a:focus, a:active {
    cursor: pointer;
    transition: 0.35s ease-in;
    outline: none;
    color: #fdbe33; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

p {
  font-size: 1rem; }
  @media (max-width: 768px) {
    p {
      font-size: 0.8rem; } }

i {
  cursor: pointer;
  transition: 0.15s ease-in-out; }
  i:hover {
    transition: 0.35s ease-in; }

input {
  outline: none;
  border: none; }

.container {
  width: 90%;
  margin: 0px auto; }

.section {
  padding: 70px 0px; }
  .section__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fdbe33; }
  .section__subtitle {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #030f27; }
    @media (max-width: 768px) {
      .section__subtitle {
        font-size: 2rem; } }
    @media (max-width: 450px) {
      .section__subtitle {
        font-size: 1.5rem; } }

.scrolltop {
  position: fixed;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: auto;
  width: auto;
  height: auto;
  margin-top: 15px;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: 2px solid #fdbe33;
  background: #fdbe33;
  color: #fff;
  transition: 0.15s ease-in-out;
  padding: 10px 15px;
  opacity: 0;
  transform: translateX(-100%); }
  .scrolltop:hover {
    transition: 0.35s ease-in;
    cursor: pointer;
    background-color: transparent;
    color: #030f27; }
  @media (max-width: 576px) {
    .scrolltop {
      padding: 10px 25px;
      font-size: 0.9rem; } }
  .scrolltop i {
    color: #030f27; }
  .scrolltop.animated {
    opacity: 1;
    transform: translate(0); }

nav {
  background-color: #fdbe33; }
  nav .nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    padding: 15px 0px; }
    @media (max-width: 992px) {
      nav .nav__top {
        justify-content: center; } }
    nav .nav__top__logo {
      font-size: 3.5rem;
      font-weight: 800;
      color: #030f27; }
      @media (max-width: 992px) {
        nav .nav__top__logo {
          text-align: center; } }
      @media (max-width: 450px) {
        nav .nav__top__logo {
          font-size: 2rem; } }
    nav .nav__top__item {
      color: #030f27;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      @media (max-width: 992px) {
        nav .nav__top__item {
          display: none; } }
      nav .nav__top__item i {
        font-size: 2rem;
        font-weight: 300; }
      nav .nav__top__item div {
        margin-left: 15px;
        font-size: 0.8rem; }
  nav .nav__bottom {
    background-color: #030f27;
    color: #fff;
    padding: 20px 0px; }
    nav .nav__bottom.fixed {
      position: fixed;
      transition: 0.15s ease-in-out;
      top: 0px;
      right: 0px;
      left: 0px;
      width: 100%; }
    @media (max-width: 992px) {
      nav .nav__bottom {
        width: 100%; } }
    nav .nav__bottom .nav__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      @media (max-width: 992px) {
        nav .nav__bottom .nav__list {
          display: none; } }
      nav .nav__bottom .nav__list__item:not(:last-child) {
        margin-right: 10px; }
      nav .nav__bottom .nav__list__item:last-child {
        position: relative;
        transition: 0.15s ease-in-out; }
        nav .nav__bottom .nav__list__item:last-child .nav__item__dropdown {
          position: absolute;
          top: 80%;
          right: auto;
          bottom: auto;
          left: 0px;
          width: 150px;
          height: auto;
          background-color: #fff;
          padding: 15px;
          z-index: 100; }
          nav .nav__bottom .nav__list__item:last-child .nav__item__dropdown.open {
            display: none; }
          nav .nav__bottom .nav__list__item:last-child .nav__item__dropdown a {
            display: block;
            color: #030f27; }
            nav .nav__bottom .nav__list__item:last-child .nav__item__dropdown a:hover {
              color: #fdbe33; }
      nav .nav__bottom .nav__list__item__link {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem; }
        nav .nav__bottom .nav__list__item__link:hover {
          color: #fdbe33; }
    nav .nav__bottom .nav__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px;
      display: none; }
      @media (max-width: 992px) {
        nav .nav__bottom .nav__mobile {
          display: flex; } }
      nav .nav__bottom .nav__mobile__heading {
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem; }
      nav .nav__bottom .nav__mobile i {
        font-size: 1.5rem;
        z-index: 101; }
  nav .nav__mobile__menu {
    background-color: #fff; }
    @media (min-width: 992px) {
      nav .nav__mobile__menu {
        display: none; } }
    nav .nav__mobile__menu.openMobileMenu {
      display: none; }
    nav .nav__mobile__menu ul li {
      margin-bottom: 10px; }
      nav .nav__mobile__menu ul li:nth-child(6) div {
        background-color: #030f27;
        padding: 15px;
        width: 100%;
        margin: 10px 0px; }
        nav .nav__mobile__menu ul li:nth-child(6) div.open {
          display: none; }
        nav .nav__mobile__menu ul li:nth-child(6) div a {
          color: #fff;
          display: block; }
          nav .nav__mobile__menu ul li:nth-child(6) div a:hover {
            color: #fdbe33; }
      nav .nav__mobile__menu ul li a {
        color: #030f27;
        display: block; }
        nav .nav__mobile__menu ul li a:hover {
          color: #fdbe33; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/img/carousel-3.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  text-align: center; }
  .hero__headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px; }
    .hero__headings-1 {
      color: #fff;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-size: 2rem;
      font-weight: 400;
      animation: heroHeadingAnimation 1s 0.15s ease-in-out; }
      @media (max-width: 576px) {
        .hero__headings-1 {
          font-size: 1.5rem; } }
      @media (max-width: 450px) {
        .hero__headings-1 {
          font-size: 1rem; } }
    .hero__headings-2 {
      color: #fff;
      font-size: 3.5rem;
      margin-bottom: 10px;
      font-weight: 800;
      animation: heroHeadingAnimation1 1s 0.15s ease-in-out; }
      @media (max-width: 768px) {
        .hero__headings-2 {
          font-size: 3rem; } }
      @media (max-width: 576px) {
        .hero__headings-2 {
          font-size: 2rem; } }
      @media (max-width: 450px) {
        .hero__headings-2 {
          font-size: 1.8rem; } }
  .hero button {
    text-transform: uppercase;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    transition: 0.15s ease-in-out;
    animation: heroButtonAnimation1 1s 0.15s ease-in-out; }
    .hero button:hover {
      transition: 0.35s ease-in;
      cursor: pointer;
      background-color: #fdbe33;
      color: #030f27; }
    @media (max-width: 576px) {
      .hero button {
        padding: 10px 25px;
        font-size: 0.9rem; } }

.sub-hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0px;
  justify-content: flex-start;
  align-items: center; }
  .sub-hero__item {
    grid-column: span 4;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0px;
    justify-content: flex-start;
    align-items: center;
    background-color: #030f27; }
    .sub-hero__item i {
      grid-column: span 3;
      font-size: 2.5rem;
      justify-self: center;
      color: #fdbe33; }
      @media (max-width: 992px) {
        .sub-hero__item i {
          grid-column: span 1;
          justify-self: flex-start; } }
      @media (max-width: 768px) {
        .sub-hero__item i {
          grid-column: span 12;
          justify-self: center; } }
      @media (max-width: 576px) {
        .sub-hero__item i {
          font-size: 2rem;
          margin-bottom: 10px; } }
    .sub-hero__item__text {
      color: #fdbe33;
      grid-column: span 9; }
      @media (max-width: 992px) {
        .sub-hero__item__text {
          grid-column: span 11; } }
      @media (max-width: 768px) {
        .sub-hero__item__text {
          text-align: center;
          grid-column: span 12; } }
      .sub-hero__item__text h3 {
        color: #fdbe33;
        font-size: 1.4rem; }
        @media (max-width: 576px) {
          .sub-hero__item__text h3 {
            font-size: 1.2rem; } }
      .sub-hero__item__text p {
        margin-top: 10px;
        font-size: 1.1rem; }
    @media (max-width: 992px) {
      .sub-hero__item {
        grid-column: span 12; } }
    .sub-hero__item--mod {
      background-color: #fdbe33; }
      .sub-hero__item--mod i {
        color: #030f27; }
      .sub-hero__item--mod .sub-hero__item__text {
        color: #030f27; }
        .sub-hero__item--mod .sub-hero__item__text h3 {
          color: #030f27; }

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .about {
      justify-content: center; } }
  .about__item:nth-child(1) {
    flex: 0 0 35%; }
    @media (max-width: 992px) {
      .about__item:nth-child(1) {
        flex: 0 0 70%;
        order: 3; } }
    @media (max-width: 768px) {
      .about__item:nth-child(1) {
        flex: 0 0 90%; } }
  .about__item:nth-child(2) {
    flex: 0 0 55%; }
    @media (max-width: 992px) {
      .about__item:nth-child(2) {
        flex: 0 0 70%;
        margin-bottom: 20px;
        order: 2; } }
    @media (max-width: 768px) {
      .about__item:nth-child(2) {
        flex: 0 0 90%; } }
  .about__item__img {
    width: 100%;
    resize: both;
    object-fit: cover;
    vertical-align: middle;
    height: 500px; }
    @media (max-width: 992px) {
      .about__item__img {
        height: 450px; } }
    @media (max-width: 576px) {
      .about__item__img {
        height: 350px; } }
    @media (max-width: 450px) {
      .about__item__img {
        height: 300px; } }
  .about__item__text {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.1rem; }
    @media (max-width: 576px) {
      .about__item__text {
        font-size: 0.8rem; } }
  .about__item button {
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #fdbe33;
    background: #fdbe33;
    color: #030f27;
    transition: 0.15s ease-in-out; }
    .about__item button:hover {
      transition: 0.35s ease-in;
      cursor: pointer;
      background-color: #030f27;
      color: #fdbe33; }
    @media (max-width: 576px) {
      .about__item button {
        padding: 10px 25px;
        font-size: 0.9rem; } }

.number {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0px;
  justify-content: center;
  align-items: center; }
  .number__left {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #030f27;
    padding: 0px 20px; }
    @media (max-width: 992px) {
      .number__left {
        grid-column: span 12; } }
    @media (max-width: 450px) {
      .number__left {
        gap: 0px;
        grid-auto-rows: 170px; } }
    .number__left__item {
      grid-column: span 6;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto;
      grid-gap: 20px;
      justify-content: center;
      align-items: center; }
      @media (max-width: 450px) {
        .number__left__item {
          grid-column: span 12; } }
      .number__left__item i {
        grid-column: span 2;
        font-size: 2.2rem;
        color: #fdbe33; }
        @media (max-width: 576px) {
          .number__left__item i {
            grid-column: span 12;
            text-align: center; } }
      .number__left__item div {
        grid-column: span 10;
        margin-left: 10px; }
        @media (max-width: 576px) {
          .number__left__item div {
            grid-column: span 12;
            text-align: center; } }
        .number__left__item div h3 {
          color: #fdbe33;
          font-weight: 800;
          font-size: 2rem; }
        .number__left__item div p {
          font-weight: 600;
          font-size: 0.9rem;
          color: #fdbe33; }
  .number__right {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fdbe33;
    padding: 0px 20px; }
    @media (max-width: 992px) {
      .number__right {
        grid-column: span 12; } }
    @media (max-width: 450px) {
      .number__right {
        gap: 0px;
        grid-auto-rows: 170px; } }
    .number__right__item {
      grid-column: span 6;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto;
      grid-gap: 20px;
      justify-content: center;
      align-items: center; }
      @media (max-width: 450px) {
        .number__right__item {
          grid-column: span 12; } }
      .number__right__item i {
        grid-column: span 2;
        font-size: 2.2rem;
        color: #030f27; }
        @media (max-width: 576px) {
          .number__right__item i {
            grid-column: span 12;
            text-align: center; } }
      .number__right__item div {
        grid-column: span 10;
        margin-left: 10px; }
        @media (max-width: 576px) {
          .number__right__item div {
            grid-column: span 12;
            text-align: center; } }
        .number__right__item div h3 {
          color: #030f27;
          font-weight: 800;
          font-size: 2rem; }
        .number__right__item div p {
          font-weight: 600;
          font-size: 0.9rem;
          color: #030f27; }

.services__header {
  text-align: center; }
.services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 576px) {
    .services__content {
      justify-content: center; } }
  .services__content__categories {
    flex: 0 0 100%;
    text-align: center;
    margin: 20px 0px; }
    .services__content__categories button {
      margin-top: 15px;
      padding: 15px 35px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #030f27;
      background: #030f27;
      color: #fff;
      transition: 0.15s ease-in-out; }
      .services__content__categories button:hover {
        transition: 0.35s ease-in;
        cursor: pointer;
        background-color: transparent;
        color: #030f27; }
      @media (max-width: 576px) {
        .services__content__categories button {
          padding: 10px 25px;
          font-size: 0.9rem; } }
  .services__content__item {
    flex: 0 0 31%;
    margin-top: 20px; }
    .services__content__item:hover .overlay {
      visibility: visible;
      transition: 0.15s ease-in-out; }
    @media (max-width: 992px) {
      .services__content__item {
        flex: 0 0 47%; } }
    @media (max-width: 576px) {
      .services__content__item {
        flex: 0 0 100%; } }
    .services__content__item__img {
      position: relative; }
      .services__content__item__img img {
        resize: both;
        vertical-align: middle;
        object-fit: cover; }
      .services__content__item__img .overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: auto;
        height: auto;
        background-color: #030f27;
        opacity: 0.75;
        color: #fff;
        text-align: center;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0px;
        visibility: hidden; }
    .services__content__item__group {
      background-color: #030f27;
      padding: 15px;
      text-align: center;
      color: #fdbe33; }
      .services__content__item__group p {
        font-weight: 700;
        font-size: 1.3rem; }
        @media (max-width: 576px) {
          .services__content__item__group p {
            font-size: 1rem; } }
        @media (max-width: 450px) {
          .services__content__item__group p {
            font-size: 0.8rem; } }

.blog__header {
  text-align: center; }
.blog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 768px) {
    .blog__content {
      justify-content: center; } }
  .blog__content__item {
    flex: 0 0 31%;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    transition: 0.35s ease-in; }
    .blog__content__item:hover .blog__content__item__img {
      transform: scale(1.1);
      transition: 0.15s ease-in-out; }
    @media (max-width: 992px) {
      .blog__content__item {
        flex: 0 0 47%; } }
    @media (max-width: 768px) {
      .blog__content__item {
        flex: 0 0 80%;
        margin-top: 20px; } }
    @media (max-width: 576px) {
      .blog__content__item {
        flex: 0 0 90%; } }
    @media (max-width: 450px) {
      .blog__content__item {
        flex: 0 0 100%; } }
    .blog__content__item__img {
      width: 100%;
      resize: both;
      vertical-align: middle;
      object-fit: cover; }
    .blog__content__item__text {
      background-color: #f3f6ff;
      padding: 20px 35px;
      text-align: center; }
    .blog__content__item__heading {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: auto;
      left: auto;
      width: auto;
      height: auto;
      padding: 10px 15px;
      background-color: #030f27;
      color: #fdbe33;
      font-weight: 700;
      font-size: 1.3rem; }

.contact__header {
  text-align: center; }
.contact__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  margin-top: 20px; }
  .contact__content__item {
    flex: 1;
    height: 500px; }
    @media (max-width: 576px) {
      .contact__content__item {
        height: 450px; } }
    @media (max-width: 768px) {
      .contact__content__item {
        flex: 0 0 70%; } }
    @media (max-width: 576px) {
      .contact__content__item {
        flex: 0 0 80%; } }
    @media (max-width: 450px) {
      .contact__content__item {
        flex: 0 0 100%; } }
    .contact__content__item:nth-child(1) {
      background-color: #030f27;
      padding: 30px; }
      @media (max-width: 576px) {
        .contact__content__item:nth-child(1) {
          padding: 20px; } }
      .contact__content__item:nth-child(1) div {
        border: 2px solid #fdbe33;
        padding: 30px; }
        @media (max-width: 576px) {
          .contact__content__item:nth-child(1) div {
            padding: 20px; } }
        .contact__content__item:nth-child(1) div:not(:last-child) {
          margin-bottom: 25px; }
        .contact__content__item:nth-child(1) div h3 {
          color: #fdbe33;
          font-size: 1.3rem; }
        .contact__content__item:nth-child(1) div p {
          color: #fff;
          margin-top: 10px;
          font-size: 1.1rem;
          font-weight: 500; }
          @media (max-width: 576px) {
            .contact__content__item:nth-child(1) div p {
              font-size: 0.9rem; } }
    .contact__content__item:nth-child(2) {
      background-color: #fdbe33;
      padding: 30px; }
      @media (max-width: 576px) {
        .contact__content__item:nth-child(2) {
          padding: 20px; } }
      .contact__content__item:nth-child(2) .form-input {
        width: 100%;
        border: 2px solid #fff;
        background: transparent;
        padding: 10px 15px;
        margin-bottom: 15px; }
        .contact__content__item:nth-child(2) .form-input::placeholder {
          color: #fff;
          font-size: 1.2rem; }
          @media (max-width: 576px) {
            .contact__content__item:nth-child(2) .form-input::placeholder {
              font-size: 1rem; } }
      .contact__content__item:nth-child(2) textarea {
        height: 185px; }
        @media (max-width: 576px) {
          .contact__content__item:nth-child(2) textarea {
            height: 150px; } }
      .contact__content__item:nth-child(2) button[type="submit"] {
        margin-top: 15px;
        padding: 15px 35px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border: 2px solid #030f27;
        background: #030f27;
        color: #fdbe33;
        transition: 0.15s ease-in-out; }
        .contact__content__item:nth-child(2) button[type="submit"]:hover {
          transition: 0.35s ease-in;
          cursor: pointer;
          background-color: #fff;
          color: #030f27; }
        @media (max-width: 576px) {
          .contact__content__item:nth-child(2) button[type="submit"] {
            padding: 10px 25px;
            font-size: 0.9rem; } }

.team__header {
  text-align: center; }
.team__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 768px) {
    .team__content {
      justify-content: center; } }
  .team__content__item {
    flex: 0 0 22%;
    margin-top: 20px;
    position: relative; }
    @media (max-width: 992px) {
      .team__content__item {
        flex: 0 0 47%; } }
    @media (max-width: 768px) {
      .team__content__item {
        flex: 0 0 80%; } }
    @media (max-width: 450px) {
      .team__content__item {
        flex: 0 0 100%; } }
    .team__content__item:hover .team__content__item__text {
      transition: 0.35s ease-in;
      background-color: #fdbe33; }
    .team__content__item:hover .team__content__item__text h3 {
      color: #030f27;
      transition: 0.35s ease-in;
      transform: scale(1.1); }
    .team__content__item:hover .team__content__item__icons {
      opacity: 1;
      transition: 0.35s ease-in; }
    .team__content__item img {
      resize: both;
      height: auto;
      vertical-align: middle; }
    .team__content__item__text {
      background-color: #030f27;
      padding: 25px 0px;
      text-align: center; }
      .team__content__item__text h3 {
        color: #fdbe33;
        transition: 0.15s ease-in-out; }
      .team__content__item__text p {
        color: #fff;
        font-weight: 600; }
    .team__content__item__icons {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px;
      opacity: 0;
      transition: 0.15s ease-in-out; }
      .team__content__item__icons i {
        color: #fff;
        font-size: 1.2rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center; }
        .team__content__item__icons i.twitter {
          background: #00acee; }
        .team__content__item__icons i.facebook {
          background: #3b5998; }
        .team__content__item__icons i.instagram {
          background: #3f729b; }
        .team__content__item__icons i.linkedin {
          background: #0e76a8; }

footer {
  background-color: #030f27; }
  footer .footer__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: flex-start; }
    footer .footer__content__item {
      grid-column: span 3; }
      @media (max-width: 1200px) {
        footer .footer__content__item {
          grid-column: span 6;
          margin-top: 15px; } }
      @media (max-width: 768px) {
        footer .footer__content__item {
          grid-column: span 12; } }
      footer .footer__content__item__social {
        margin-top: 10px; }
        footer .footer__content__item__social a {
          color: #fff; }
          footer .footer__content__item__social a:not(:last-child) {
            margin-right: 10px; }
          footer .footer__content__item__social a:hover {
            color: #030f27; }
          footer .footer__content__item__social a i {
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #fff; }
            footer .footer__content__item__social a i:hover {
              background-color: #fdbe33; }
      footer .footer__content__item__heading {
        color: #fdbe33;
        font-size: 1.3rem; }
        footer .footer__content__item__heading::after {
          display: block;
          content: "";
          margin: 10px 0px;
          height: 2px;
          background-color: #fdbe33;
          width: 50px; }
      footer .footer__content__item ul {
        margin-top: 15px; }
        footer .footer__content__item ul li:not(:last-child) {
          margin-bottom: 10px; }
        footer .footer__content__item ul li a {
          color: #fff; }
          footer .footer__content__item ul li a:hover {
            color: #fdbe33; }
          footer .footer__content__item ul li a i {
            margin-right: 10px; }

.modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px 100%;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out; }
  .modal.hidden {
    transform: translateX(100%); }
  .modal__box {
    margin: 0 auto;
    background: #fff;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 576px) {
      .modal__box {
        width: 80%; } }
    @media (max-width: 450px) {
      .modal__box {
        width: 90%; } }
    .modal__box__tittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px;
      background: #fdbe33;
      padding: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .modal__box__tittle h3 {
        color: #fff;
        font-size: 1.4rem; }
        @media (max-width: 576px) {
          .modal__box__tittle h3 {
            font-size: 1rem; } }
      .modal__box__tittle i {
        font-size: 1.5rem;
        color: #fff; }
    .modal__box__body {
      padding: 10px 15px; }
      .modal__box__body form .form-control {
        padding: 10px 0px; }
        .modal__box__body form .form-control label {
          display: block;
          color: #030f27;
          font-weight: 500; }
        .modal__box__body form .form-control .form-input {
          width: 100%;
          border-radius: 5px;
          font-size: 1.2rem;
          color: #030f27;
          padding: 10px;
          border: 1px solid #030f27; }
          @media (max-width: 576px) {
            .modal__box__body form .form-control .form-input {
              font-size: 1rem; } }
      .modal__box__body form button[type="submit"] {
        margin-top: 15px;
        padding: 15px 35px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border: 2px solid #030f27;
        background: #030f27;
        color: #fff;
        transition: 0.15s ease-in-out;
        width: 100%; }
        .modal__box__body form button[type="submit"]:hover {
          transition: 0.35s ease-in;
          cursor: pointer;
          background-color: transparent;
          color: #030f27; }
        @media (max-width: 576px) {
          .modal__box__body form button[type="submit"] {
            padding: 10px 25px;
            font-size: 0.9rem; } }

/*# sourceMappingURL=style.css.map */
