/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
@keyframes heroHeadingAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes heroHeadingAnimation1 {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes heroButtonAnimation1 {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  70% {
    opacity: 0.75; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
/*----------------------------------------
PARTIALS
----------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all 0.5s linear;
  border: 0;
  outline: none;
  list-style-type: none; }

body {
  color: #666666;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 100%; }
  @media (max-width: 576px) {
    body {
      font-size: 70%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #030f27; }

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

i {
  cursor: pointer; }

.container {
  width: 75%;
  margin: 0px auto; }

.section {
  padding: 70px 0px; }
  .section__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fdbe33; }
  .section__subtitle {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #030f27; }
    @media (max-width: 768px) {
      .section__subtitle {
        font-size: 2rem; } }
    @media (max-width: 450px) {
      .section__subtitle {
        font-size: 1.5rem; } }

.scrolltop {
  position: fixed;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: auto;
  width: auto;
  height: auto;
  margin-top: 15px;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: 2px solid #fdbe33;
  background: #fdbe33;
  color: #fff;
  transition: 0.15s ease-in-out;
  padding: 10px 15px;
  opacity: 0;
  transform: translateX(-100%); }
  .scrolltop:hover {
    transition: 0.35s ease-in;
    cursor: pointer;
    background-color: transparent;
    color: #030f27; }
  @media (max-width: 576px) {
    .scrolltop {
      padding: 10px 25px;
      font-size: 0.9rem; } }
  .scrolltop i {
    color: #030f27; }
  .scrolltop.animated {
    opacity: 1;
    transform: translate(0); }

.nav {
  background-color: #fdbe33; }
  .nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    padding: 1rem 0; }
    @media (max-width: 1200px) {
      .nav__top {
        justify-content: center; } }
    .nav__top .nav__logo {
      font-size: 3.5rem;
      color: #030f27;
      margin: 0;
      text-transform: capitalize;
      font-weight: 800; }
      @media (max-width: 576px) {
        .nav__top .nav__logo {
          font-size: 2.2rem; } }
      @media (max-width: 992px) {
        .nav__top .nav__logo {
          text-align: center; } }
    .nav__top .nav__item {
      color: #030f27;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem; }
      @media (max-width: 1200px) {
        .nav__top .nav__item {
          display: none; } }
      .nav__top .nav__item .nav__icon {
        font-size: 2.2rem;
        font-weight: 300; }
  .nav .nav__bottom {
    background-color: #030f27;
    color: #fff;
    padding: 2rem 0;
    position: relative;
    z-index: 1000; }
    .nav .nav__bottom.fixed {
      position: fixed;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      width: 100%;
      height: auto; }
    @media (max-width: 992px) {
      .nav .nav__bottom {
        width: 100%; } }
    .nav .nav__bottom .nav__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      .nav .nav__bottom .nav__list.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      @media (max-width: 992px) {
        .nav .nav__bottom .nav__list {
          position: absolute;
          top: 99%;
          right: 0;
          bottom: auto;
          left: 0;
          width: auto;
          height: auto;
          background-color: #030f27;
          flex-direction: column;
          align-items: flex-start;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); } }
      @media (max-width: 992px) {
        .nav .nav__bottom .nav__list .nav__item {
          margin-bottom: 1rem;
          margin-left: 10%; } }
      .nav .nav__bottom .nav__list .nav__item:not(:last-child) {
        margin-right: 1rem; }
      .nav .nav__bottom .nav__list .nav__item .nav__link {
        font-size: 1rem;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600; }
        @media (max-width: 576px) {
          .nav .nav__bottom .nav__list .nav__item .nav__link {
            font-size: 0.9rem; } }
        .nav .nav__bottom .nav__list .nav__item .nav__link:hover {
          color: #fdbe33; }
    .nav .nav__bottom .nav__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px;
      display: none; }
      @media (max-width: 992px) {
        .nav .nav__bottom .nav__mobile {
          display: flex; } }
      .nav .nav__bottom .nav__mobile .nav__heading {
        font-size: 1.2rem;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-weight: 400; }
        @media (max-width: 576px) {
          .nav .nav__bottom .nav__mobile .nav__heading {
            font-size: 1.2rem; } }
      .nav .nav__bottom .nav__mobile i {
        font-size: 1.5rem; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/carousel-3.jpg") no-repeat center/cover;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  text-align: center; }
  @media (max-width: 450px) {
    .hero {
      height: 60vh; } }
  .hero__headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px; }
    .hero__headings .hero__heading1 {
      font-size: 2rem;
      color: #fff;
      margin: 0;
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: 1px;
      animation: heroHeadingAnimation 1s 0.15s ease-in-out; }
      @media (max-width: 576px) {
        .hero__headings .hero__heading1 {
          font-size: 1.5rem; } }
      @media (max-width: 450px) {
        .hero__headings .hero__heading1 {
          font-size: 1rem; } }
    .hero__headings .hero__heading2 {
      font-size: 3.5rem;
      color: #fff;
      margin: 1rem 0;
      text-transform: capitalize;
      font-weight: 900;
      animation: heroHeadingAnimation1 1s 0.15s ease-in-out; }
      @media (max-width: 576px) {
        .hero__headings .hero__heading2 {
          font-size: 2rem; } }
      @media (max-width: 768px) {
        .hero__headings .hero__heading2 {
          font-size: 3rem; } }
      @media (max-width: 450px) {
        .hero__headings .hero__heading2 {
          font-size: 1.8rem; } }
  .hero button {
    text-transform: uppercase;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    transition: 0.15s ease-in-out;
    animation: heroButtonAnimation1 1s 0.15s ease-in-out; }
    .hero button:hover {
      transition: 0.35s ease-in;
      cursor: pointer;
      background-color: #fdbe33;
      color: #030f27; }
    @media (max-width: 576px) {
      .hero button {
        padding: 10px 25px;
        font-size: 0.9rem; } }

.sub-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0; }
  @media (max-width: 450px) {
    .sub-hero {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 0; } }
  .sub-hero__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    background-color: #030f27;
    transform: translateY(50%);
    opacity: 0; }
    @media (max-width: 992px) {
      .sub-hero__item {
        flex-direction: column;
        text-align: center; } }
    .sub-hero__item.animated {
      transform: translateY(0);
      opacity: 1;
      transition: 0.35s ease-in; }
    .sub-hero__item i {
      font-size: 2.5rem;
      color: #fdbe33; }
      @media (max-width: 576px) {
        .sub-hero__item i {
          font-size: 2rem;
          margin-bottom: 10px; } }
    .sub-hero__item .sub-hero__content .sub-hero__title {
      color: #fdbe33;
      font-size: 1.4rem; }
      @media (max-width: 576px) {
        .sub-hero__item .sub-hero__content .sub-hero__title {
          font-size: 1.2rem; } }
    .sub-hero__item .sub-hero__content .sub-hero__desc {
      font-size: 1.1rem;
      color: #fdbe33;
      margin: 0.5rem 0 0 0;
      text-transform: capitalize;
      font-weight: 400;
      max-width: 450px; }
      @media (max-width: 576px) {
        .sub-hero__item .sub-hero__content .sub-hero__desc {
          font-size: 1rem; } }
    .sub-hero__item--mod {
      background-color: #fdbe33; }
      .sub-hero__item--mod i {
        color: #030f27; }
      .sub-hero__item--mod .sub-hero__content .sub-hero__title {
        color: #030f27;
        font-size: 1.4rem; }
      .sub-hero__item--mod .sub-hero__content .sub-hero__desc {
        font-size: 1.1rem;
        color: #030f27;
        margin: 0.5rem 0 0 0;
        text-transform: capitalize;
        font-weight: 400;
        max-width: 450px; }
        @media (max-width: 576px) {
          .sub-hero__item--mod .sub-hero__content .sub-hero__desc {
            font-size: 1rem; } }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem; }
  .about__item {
    flex: 1 1 400px;
    transform: translateY(50%);
    opacity: 0; }
    .about__item.animated {
      transform: translateY(0);
      opacity: 1;
      transition: 0.35s ease-in; }
    .about__item .about__img {
      height: 30rem;
      resize: both; }
      @media (max-width: 576px) {
        .about__item .about__img {
          height: 20rem; } }
    .about__item .about__desc {
      margin-bottom: 1rem;
      text-align: justify; }
    .about__item button {
      margin-top: 15px;
      padding: 15px 35px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #fdbe33;
      background: #fdbe33;
      color: #030f27;
      transition: 0.15s ease-in-out; }
      .about__item button:hover {
        transition: 0.35s ease-in;
        cursor: pointer;
        background-color: #030f27;
        color: #fdbe33; }
      @media (max-width: 576px) {
        .about__item button {
          padding: 10px 25px;
          font-size: 0.9rem; } }

.services__header {
  text-align: center; }
.services .services__categories {
  text-align: center;
  margin: 20px 0px; }
  .services .services__categories button {
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #030f27;
    background: #030f27;
    color: #fff;
    transition: 0.15s ease-in-out; }
    .services .services__categories button:hover {
      transition: 0.35s ease-in;
      cursor: pointer;
      background-color: transparent;
      color: #030f27; }
    @media (max-width: 576px) {
      .services .services__categories button {
        padding: 10px 25px;
        font-size: 0.9rem; } }
.services__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem; }
  @media (max-width: 992px) {
    .services__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem; } }
  @media (max-width: 450px) {
    .services__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem; } }
  .services__content .services__item {
    margin-top: 20px;
    transform: translateY(50%);
    opacity: 0; }
    .services__content .services__item.animated {
      transform: translateY(0);
      opacity: 1; }
    .services__content .services__item:hover .services__img .services__overlay {
      opacity: 1; }
    .services__content .services__item .services__img {
      position: relative; }
      .services__content .services__item .services__img .services__image {
        height: 25rem; }
        @media (max-width: 576px) {
          .services__content .services__item .services__img .services__image {
            height: 17rem; } }
      .services__content .services__item .services__img .services__overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: auto;
        height: auto;
        background-color: #030f27;
        opacity: 0;
        color: #fff;
        text-align: center;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0px; }
    .services__content .services__item .services__content {
      background-color: #030f27;
      padding: 15px;
      text-align: center;
      color: #fdbe33;
      font-weight: 600;
      font-size: 1.1rem; }
      @media (max-width: 450px) {
        .services__content .services__item .services__content {
          font-size: 0.9rem; } }

.contact__header {
  text-align: center; }
.contact__content {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  margin-top: 20px; }
  .contact__content .contact__item {
    flex: 1 1 350px;
    transform: translateY(50%);
    opacity: 0;
    background-color: #fdbe33;
    padding: 30px; }
    .contact__content .contact__item.animated {
      transform: translateY(0);
      opacity: 1; }
    @media (max-width: 576px) {
      .contact__content .contact__item {
        padding: 15px; } }
    .contact__content .contact__item .contact__input {
      width: 100%;
      border: 2px solid #fff;
      background: transparent;
      padding: 15px;
      margin-bottom: 15px;
      color: #fff; }
      .contact__content .contact__item .contact__input::placeholder {
        color: #fff; }
    .contact__content .contact__item textarea {
      height: 185px; }
      @media (max-width: 576px) {
        .contact__content .contact__item textarea {
          height: 150px; } }
    .contact__content .contact__item input[type="submit"] {
      margin-top: 15px;
      padding: 15px 35px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #030f27;
      background: #030f27;
      color: #fdbe33;
      transition: 0.15s ease-in-out; }
      .contact__content .contact__item input[type="submit"]:hover {
        transition: 0.35s ease-in;
        cursor: pointer;
        background-color: #fff;
        color: #030f27; }
      @media (max-width: 576px) {
        .contact__content .contact__item input[type="submit"] {
          padding: 10px 25px;
          font-size: 0.9rem; } }
    .contact__content .contact__item--primary {
      background-color: #030f27; }
      .contact__content .contact__item--primary .contact__info {
        border: 2px solid #fdbe33;
        padding: 30px; }
        .contact__content .contact__item--primary .contact__info:not(:last-child) {
          margin-bottom: 25px; }
        @media (max-width: 576px) {
          .contact__content .contact__item--primary .contact__info {
            padding: 15px; } }
        .contact__content .contact__item--primary .contact__info h3 {
          color: #fdbe33; }
          @media (max-width: 450px) {
            .contact__content .contact__item--primary .contact__info h3 {
              font-size: 1.1rem; } }
        .contact__content .contact__item--primary .contact__info p {
          color: #fff;
          margin-top: 10px;
          font-weight: 500; }

.team__header {
  text-align: center; }
.team__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 768px) {
    .team__content {
      justify-content: center; } }
  .team__content__item {
    flex: 0 0 22%;
    margin-top: 20px;
    position: relative;
    transform: translateY(50%);
    opacity: 0; }
    .team__content__item.animated {
      transform: translateY(0);
      opacity: 1;
      transition: 0.35s ease-in; }
    @media (max-width: 992px) {
      .team__content__item {
        flex: 0 0 47%; } }
    @media (max-width: 768px) {
      .team__content__item {
        flex: 0 0 80%; } }
    @media (max-width: 450px) {
      .team__content__item {
        flex: 0 0 100%; } }
    .team__content__item:hover .team__content__item__text {
      transition: 0.35s ease-in;
      background-color: #fdbe33; }
    .team__content__item:hover .team__content__item__text h3 {
      color: #030f27;
      transition: 0.35s ease-in;
      transform: scale(1.1); }
    .team__content__item:hover .team__content__item__icons {
      opacity: 1;
      transition: 0.35s ease-in; }
    .team__content__item img {
      resize: both;
      height: auto;
      vertical-align: middle; }
    .team__content__item__text {
      background-color: #030f27;
      padding: 25px 0px;
      text-align: center; }
      .team__content__item__text h3 {
        color: #fdbe33;
        transition: 0.15s ease-in-out; }
      .team__content__item__text p {
        color: #fff;
        font-weight: 600; }
    .team__content__item__icons {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px;
      opacity: 0;
      transition: 0.15s ease-in-out; }
      .team__content__item__icons i {
        color: #fff;
        font-size: 1.2rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center; }
        .team__content__item__icons i.twitter {
          background: #00acee; }
        .team__content__item__icons i.facebook {
          background: #3b5998; }
        .team__content__item__icons i.instagram {
          background: #3f729b; }
        .team__content__item__icons i.linkedin {
          background: #0e76a8; }

/*# sourceMappingURL=style.css.map */
