.blog {

    &__header {
        text-align: center;
    }

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoint(md) {
            justify-content: center;
        }

        &__item {
            flex: 0 0 31%;
            margin-top: 15px;
            position: relative;
            overflow: hidden;
            transition: $transition-out;

            &:hover &__img {
                transform: scale(1.1);
                transition: $transition;
            }

            @include breakpoint(lg) {
                flex: 0 0 47%;
            }

            @include breakpoint(md) {
                flex: 0 0 80%;
                margin-top: 20px;
            }

            @include breakpoint(sm) {
                flex: 0 0 90%;
            }

            @include breakpoint(xs) {
                flex: 0 0 100%;
            }

            &__img {
                width: 100%;
                resize: both;
                vertical-align: middle;
                object-fit: cover;
            }

            &__text {
                background-color: #f3f6ff;
                padding: 20px 35px;
                text-align: center;
            }

            &__heading {
                @include positioning(absolute, 0px, 0px, auto, auto);
                padding: 10px 15px;
                background-color: $primaryColor;
                color: $secondaryColor;
                font-weight: 700;
                font-size: 1.3rem;
            }

        }
    }
}