.services {

    &__header {
        text-align: center;
    }

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoint(sm) {
            justify-content: center;
        }

        &__categories {
            flex: 0 0 100%;
            text-align: center;
            margin: 20px 0px;

            button {
                @include btn($primaryColor, $primaryColor, $whiteColor, transparent, $primaryColor);
            }
        }

        &__item {
            flex: 0 0 31%;
            margin-top: 20px;

            &:hover .overlay {
                visibility: visible;
                transition: $transition;
            }

            @include breakpoint(lg) {
                flex: 0 0 47%;
            }

            @include breakpoint(sm) {
                flex: 0 0 100%;
            }


            &__img {
                position: relative;

                img {
                    resize: both;
                    vertical-align: middle;
                    object-fit: cover;
                }

                .overlay {
                    @include positioning(absolute, 0px, 0px, 0px, 0px);
                    background-color: $primaryColor;
                    opacity: 0.75;
                    color: $whiteColor;
                    text-align: center;
                    padding: 15px;
                    @include flex(center, center);
                    visibility: hidden;
                }
            }

            &__group {
                background-color: $primaryColor;
                padding: 15px;
                text-align: center;
                color: $secondaryColor;

                p {
                    font-weight: 700;
                    font-size: 1.3rem;

                    @include breakpoint(sm) {
                        font-size: 1rem;
                    }

                    @include breakpoint(xs) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}