.sub-hero {
    @include grid(auto, 0px, flex-start);

    &__item {
        grid-column: span 4;
        padding: 30px;
        @include grid(auto, 0px, flex-start);
        background-color: $primaryColor;

        i {
            grid-column: span 3;
            font-size: 2.5rem;
            justify-self: center;
            color: $secondaryColor;

            @include breakpoint(lg) {
                grid-column: span 1;
                justify-self: flex-start;
            }

            @include breakpoint(md) {
                grid-column: span 12;
                justify-self: center;
            }

            @include breakpoint(sm) {
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }

        &__text {
            color: $secondaryColor;
            grid-column: span 9;

            @include breakpoint(lg) {
                grid-column: span 11;
            }

            @include breakpoint(md) {
                text-align: center;
                grid-column: span 12;
            }

            h3 {
                color: $secondaryColor;
                font-size: 1.4rem;

                @include breakpoint(sm) {
                    font-size: 1.2rem;
                }
            }

            p {
                margin-top: 10px;
                font-size: 1.1rem;
            }
        }

        @include breakpoint(lg) {
            grid-column: span 12;
        }


        &--mod{
            background-color: $secondaryColor;
            
            i{
                color: $primaryColor;
            }

            .sub-hero__item__text{
                color: $primaryColor;

                h3{
                    color: $primaryColor;
                }
            }
        }
    }
}