.about {
    @include flex(flex-start, center, row, wrap, 3rem);

    &__item {
        flex: 1 1 400px;
        transform: translateY(50%);
        opacity: 0;

        &.animated {
            transform: translateY(0);
            opacity: 1;
            transition: $transition-out;
        }

        .about__img {
            height: 30rem;
            resize: both;

            @include breakpoint(sm) {
                height: 20rem;
            }
        }

        .about__desc {
            margin-bottom: 1rem;
            text-align: justify;
        }

        button {
            @include btn($secondaryColor, $secondaryColor, $primaryColor, $primaryColor, $secondaryColor);
        }

    }
}