.contact {

    &__header {
        text-align: center;
    }

    &__content {
        @include flex(flex-start, stretch, row, wrap);
        margin-top: 20px;

        .contact__item {
            flex: 1 1 350px;
            transform: translateY(50%);
            opacity: 0;
            background-color: $secondaryColor;
            padding: 30px;

            &.animated {
                transform: translateY(0);
                opacity: 1;
            }

            @include breakpoint(sm) {
                padding: 15px;
            }

            .contact__input {
                width: 100%;
                border: 2px solid $whiteColor;
                background: transparent;
                padding: 15px;
                margin-bottom: 15px;
                color: $whiteColor;

                &::placeholder {
                    color: $whiteColor;
                }
            }

            textarea {
                height: 185px;

                @include breakpoint(sm) {
                    height: 150px;
                }
            }

            input[type="submit"] {
                @include btn($primaryColor, $primaryColor, $secondaryColor, $whiteColor, $primaryColor);
            }

            &--primary {
                background-color: $primaryColor;

                .contact__info {
                    border: 2px solid $secondaryColor;
                    padding: 30px;

                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }

                    @include breakpoint(sm) {
                        padding: 15px;
                    }

                    h3 {
                        color: $secondaryColor;

                        @include breakpoint(xs) {
                            font-size: 1.1rem;
                        }
                    }

                    p {
                        color: $whiteColor;
                        margin-top: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}