.footer {
    background-color: $primaryColor;

    &__content {
        @include grid(250px, 2rem);

        @include breakpoint(xs) {
            @include grid(200px, 2rem);
        }

        .footer__item {

            .footer__social {
                margin-top: 10px;

                a {
                    color: $whiteColor;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $primaryColor;
                    }

                    i {
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 50%;
                        border: 1px solid $whiteColor;

                        &:hover {
                            background-color: $secondaryColor;
                        }
                    }
                }
            }

            .footer__heading {
                color: $secondaryColor;
                font-size: 1.3rem;

                &::after {
                    display: block;
                    content: "";
                    margin: 10px 0px 20px 0px;
                    height: 2px;
                    background-color: $secondaryColor;
                    width: 50px;
                }
            }

            .footer__list {
                margin-top: 15px;

                &__item {

                    &:hover {
                        transform: translateX(10px);
                    }

                    &:hover i,
                    &:hover a {
                        color: $secondaryColor;
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    a {
                        color: $whiteColor;

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}