* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: all 0.5s linear;
    border: 0;
    outline: none;
    list-style-type: none;
}


body {
    color: #666666;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 100%;

    @include breakpoint(sm) {
        font-size: 85%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primaryColor;
}


img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


i {
    cursor: pointer;
}


.container {
    width: 75%;
    margin: 0px auto;
}

.section {
    padding: 70px 0px;

    &__title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: $secondaryColor;
    }

    &__subtitle {
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        color: $primaryColor;

        @include breakpoint(md) {
            font-size: 2rem;
        }

        @include breakpoint(xs) {
            font-size: 1.5rem;
        }
    }
}

.scrolltop {
    @include positioning(fixed, auto, 15px, 15px, auto);
    @include btn($secondaryColor, $secondaryColor, $whiteColor, transparent, $primaryColor);
    padding: 10px 15px;
    opacity: 0;
    transform: translateX(-100%);

    i {
        color: $primaryColor;
    }

    &.animated {
        opacity: 1;
        transform: translate(0)
    }
}