.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/img/carousel-3.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flex(center, center, column);
    text-align: center;

    &__headings {
        @include flex(center, center, column);

        &-1 {
            color: $whiteColor;
            margin-bottom: 10px;
            letter-spacing: 1px;
            font-size: 2rem;
            font-weight: 400;
            animation: heroHeadingAnimation 1s $transition;

            @include breakpoint(sm) {
                font-size: 1.5rem;
            }

            @include breakpoint(xs) {
                font-size: 1rem;
            }
        }

        &-2 {
            color: $whiteColor;
            font-size: 3.5rem;
            margin-bottom: 10px;
            font-weight: 800;
            animation: heroHeadingAnimation1 1s $transition;

            @include breakpoint(md) {
                font-size: 3rem;
            }

            @include breakpoint(sm) {
                font-size: 2rem;
            }

            @include breakpoint(xs) {
                font-size: 1.8rem;
            }
        }
    }

    button {
        text-transform: uppercase;
        @include btn($whiteColor, transparent, $whiteColor, $secondaryColor, $primaryColor);
        animation: heroButtonAnimation1 1s $transition;
    }
}