.nav {
    background-color: $secondaryColor;

    &__top {
        @include flex(space-between, center);
        padding: 1rem 0;

        @include breakpoint(xl) {
            justify-content: center;
        }

        .nav__logo {
            @include text(3.5rem, $primaryColor, 0, 800, capitalize, 2.2rem);

            @include breakpoint(lg) {
                text-align: center;
            }
        }

        .nav__item {
            color: $primaryColor;
            text-transform: capitalize;
            @include flex(center, center, row, nowrap, 1rem);

            @include breakpoint(xl) {
                display: none;
            }

            .nav__icon {
                font-size: 2.2rem;
                font-weight: 300;
            }
        }
    }

    .nav__bottom {
        background-color: $primaryColor;
        color: $whiteColor;
        padding: 2rem 0;
        position: relative;
        z-index: 1000;

        &.fixed {
            @include positioning(fixed, 0, 0, auto, 0, 100%);
        }

        @include breakpoint(lg) {
            width: 100%
        }

        .nav__list {
            @include flex(center, center);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            @include breakpoint(lg) {
                @include positioning(absolute, 99%, 0, auto, 0);
                background-color: $primaryColor;
                flex-direction: column;
                align-items: flex-start;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            .nav__item {

                @include breakpoint(lg) {
                    margin-bottom: 1rem;
                    margin-left: 10%;
                }

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                .nav__link {
                    @include text(1rem, $whiteColor, 0, 600, uppercase, 0.9rem);

                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }

        .nav__mobile {
            @include flex(space-between, center);
            display: none;

            @include breakpoint(lg) {
                display: flex;
            }

            .nav__heading {
                @include text(1.2rem, $whiteColor, 0, 400, uppercase, 1.2rem);
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}