.number {
    @include grid(400px);
    color: $whiteColor;

    @include breakpoint(xs) {
        @include grid(250px);
    }

    &__item {
        background-color: $secondaryColor;
        padding: 3.5rem 2rem;
        @include grid(200px, 2rem);

        .number__content {
            display: flex;
            align-items: center;
            gap: 1rem;

            @include breakpoint(sm) {
                flex-direction: column;
                text-align: center;
            }

            .number__icon {
                font-size: 3rem;
                color: $whiteColor;
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 50%;
                text-align: center;
                background-color: $primaryColor;

                @include breakpoint(sm) {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 2.5rem
                }
            }

            .number__box {

                .number__title {
                    @include text(2rem, $primaryColor, 0, 800, uppercase);
                }

                .number__desc {
                    @include text(1rem, $primaryColor, 0, 700, uppercase);
                }
            }
        }

        &--primary {
            background-color: $primaryColor;

            .number__content {

                .number__icon {
                    background-color: $secondaryColor;
                }

                .number__box {

                    .number__title {
                        color: $secondaryColor;
                    }

                    .number__desc {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}