.services {

    &__header {
        text-align: center;
    }

    .services__categories {
        text-align: center;
        margin: 20px 0px;

        button {
            @include btn($primaryColor, $primaryColor, $whiteColor, transparent, $primaryColor);
        }
    }

    &__content {
        @include grid(350px, 1rem);

        @include breakpoint(lg) {
            @include grid(300px, 1rem);
        }

        @include breakpoint(xs) {
            @include grid(200px, 1rem);
        }

        .services__item {
            margin-top: 20px;
            transform: translateY(50%);
            opacity: 0;

            &.animated {
                transform: translateY(0);
                opacity: 1;
            }

            &:hover .services__img .services__overlay {
                opacity: 1;
            }


            .services__img {
                position: relative;

                .services__image {
                    height: 25rem;

                    @include breakpoint(sm) {
                        height: 17rem;
                    }
                }

                .services__overlay {
                    @include positioning(absolute, 0px, 0px, 0px, 0px);
                    background-color: $primaryColor;
                    opacity: 0;
                    color: $whiteColor;
                    text-align: center;
                    padding: 15px;
                    @include flex(center, center);
                }
            }

            .services__content {
                background-color: $primaryColor;
                padding: 15px;
                text-align: center;
                color: $secondaryColor;
                font-weight: 600;
                font-size: 1.1rem;

                @include breakpoint(xs) {
                    font-size: 0.9rem;
                }
            }
        }
    }
}