.sub-hero {
    @include grid(300px);

    @include breakpoint(xs) {
        @include grid(250px);
    }

    &__item {
        @include flex(flex-start, center, row, nowrap, 1rem);
        padding: 2rem;
        background-color: $primaryColor;
        transform: translateY(50%);
        opacity: 0;

        @include breakpoint(lg) {
            flex-direction: column;
            text-align: center;
        }

        &.animated {
            transform: translateY(0);
            opacity: 1;
            transition: $transition-out;
        }

        i {
            font-size: 2.5rem;
            color: $secondaryColor;

            @include breakpoint(sm) {
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }

        .sub-hero__content {

            .sub-hero__title {
                color: $secondaryColor;
                font-size: 1.4rem;

                @include breakpoint(sm) {
                    font-size: 1.2rem;
                }
            }

            .sub-hero__desc {
                @include text(1.1rem, $secondaryColor, .5rem 0 0 0);
                max-width: 450px;
            }
        }

        &--mod {
            background-color: $secondaryColor;

            i {
                color: $primaryColor;
            }

            .sub-hero__content {

                .sub-hero__title {
                    color: $primaryColor;
                    font-size: 1.4rem;
                }

                .sub-hero__desc {
                    @include text(1.1rem, $primaryColor, .5rem 0 0 0);
                    max-width: 450px;
                }
            }
        }
    }
}