.team {

    &__header {
        text-align: center;
    }

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoint(md) {
            justify-content: center;
        }

        .team__item {
            flex: 0 0 22%;
            margin-top: 20px;
            position: relative;
            transform: translateY(50%);
            opacity: 0;

            &.animated {
                transform: translateY(0);
                opacity: 1;
            }

            @include breakpoint(xl) {
                flex: 0 0 47%;
            }

            @include breakpoint(md) {
                flex: 0 0 80%;
            }

            @include breakpoint(xs) {
                flex: 0 0 100%;
            }


            &:hover .team__text {
                background-color: $secondaryColor;
            }

            &:hover .team__text .team__name {
                color: $primaryColor;
                transform: scale(1.1);
            }

            &:hover .team__icons {
                opacity: 1;
            }


            .team__text {
                background-color: $primaryColor;
                padding: 25px 0px;
                text-align: center;

                .team__name {
                    color: $secondaryColor;
                }

                .team__position {
                    color: $whiteColor;
                    font-weight: 600;
                }
            }

            .team__icons {
                position: absolute;
                top: 0px;
                left: 0px;
                @include flex(flex-start, flex-start, column);
                opacity: 0;

                i {
                    color: $whiteColor;
                    font-size: 1.2rem;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;

                    &.twitter {
                        background: #00acee;
                    }

                    &.facebook {
                        background: #3b5998;
                    }

                    &.instagram {
                        background: #3f729b;
                    }

                    &.linkedin {
                        background: #0e76a8;
                    }
                }
            }
        }
    }
}