/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
/*----------------------------------------
PARTIALS
----------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #182434; }

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
  color: #F8F9FA; }
  a:hover, a:focus {
    cursor: pointer;
    transition: 0.35s ease-in;
    outline: none;
    color: #FDA12B; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

button {
  background-color: #FDA12B;
  border-color: #FDA12B;
  padding: 15px 35px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block; }
  button:hover {
    transition: 0.35s ease-in;
    background: transparent;
    color: #FDA12B; }

.section {
  padding: 70px 0px; }

p {
  font-size: 1rem; }

.container {
  width: 90%;
  margin: 0px auto; }

.section-title {
  border-left: 5px solid #FDA12B;
  padding-left: 25px; }
  .section-title__heading1 {
    color: #8D9297;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1rem; }
  .section-title__heading2 {
    color: #182434;
    font-weight: 700;
    font-size: 2.5rem; }

.topnav {
  background-color: #F8F9FA;
  color: #8D9297; }
  .topnav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px;
    font-size: 0.85rem; }
    .topnav__content .topnav-info {
      padding: 5px 10px;
      border-left: 1px solid #8D9297; }
      .topnav__content .topnav-info:last-child {
        border-right: 1px solid #8D9297; }
    .topnav__content__contact {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: auto;
      gap: 0px; }
      .topnav__content__contact__item i {
        margin-right: 5px; }
    .topnav__content__social__link {
      color: #8D9297; }

.nav {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: auto;
  gap: 0px; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .nav__logo i {
      color: #FDA12B;
      margin-right: 10px;
      font-size: 3rem; }
    .nav__logo__heading {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 2rem; }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .nav__list__item:not(:last-child) {
      margin-right: 15px; }
    .nav__list__item:nth-child(3) {
      position: relative; }
    .nav__list__item__link {
      color: #8D9297;
      text-transform: uppercase;
      font-size: 1.1rem; }
  .nav__hamburger {
    display: none;
    border: 1px solid #8D9297;
    padding: 5px 12px;
    cursor: pointer; }
    .nav__hamburger i {
      font-size: 1.7rem; }

.mobilemenu {
  border-top: 1px solid #8D9297;
  transition: 0.15s ease-in-out; }
  @media (min-width: 992px) {
    .mobilemenu {
      display: none; } }
  .mobilemenu__list {
    margin: 30px; }
    .mobilemenu__list__item:not(:last-child) {
      margin-bottom: 10px; }
    .mobilemenu__list__item__link {
      display: block;
      color: #8D9297;
      text-transform: uppercase; }
  .mobilemenu.hidden {
    display: none; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/carousel-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: auto;
  gap: 0px; }
  .hero__heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .hero__heading-1 {
      color: #fff;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .hero__heading-2 {
      max-width: 800px;
      color: #fff;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-size: 4rem; }

.about__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .about__content__img {
    flex: 0 0 45%;
    position: relative; }
    .about__content__img img {
      height: 500px;
      object-fit: cover; }
    .about__content__img__box {
      position: absolute;
      top: 0px;
      right: auto;
      bottom: auto;
      left: 0px;
      width: auto;
      height: auto;
      background-color: #FDA12B;
      text-align: center;
      padding: 25px 40px;
      border: 20px solid #fff; }
      .about__content__img__box h3 {
        color: #fff;
        font-size: 2rem; }
      .about__content__img__box p {
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem; }
  .about__content__text {
    flex: 0 0 45%; }
    .about__content__text__paragraph {
      margin-top: 20px;
      color: #8D9297; }
    .about__content__text__group {
      padding-top: 20px;
      border-top: 1px solid #8D9297;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: auto;
      gap: 0px; }
      .about__content__text__group i {
        color: #FDA12B;
        font-size: 2rem;
        margin-right: 5px; }
      .about__content__text__group span {
        font-weight: 500; }

@media (max-width: 992px) {
  .topnav,
  .nav__list {
    display: none; }

  .nav__hamburger {
    display: block; }

  .hero__heading-2 {
    max-width: 700px; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 70%; }

  .about__content__text {
    margin-top: 40px; }

  .about__content__text__group {
    flex-direction: column;
    align-items: flex-start; } }
@media (max-width: 768px) {
  .hero__heading-2 {
    max-width: 500px; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 90%; } }
@media (max-width: 576px) {
  button {
    padding: 10px 25px;
    font-size: 1rem; }

  .nav__logo__heading {
    font-size: 1.5rem; }

  .nav__logo i {
    font-size: 2.5rem; }

  .nav__hamburger {
    padding: 5px 10px; }
    .nav__hamburger i {
      font-size: 1.5rem; }

  .hero__heading {
    align-items: center;
    text-align: center; }
    .hero__heading-1 {
      font-size: 1.2rem; }
    .hero__heading-2 {
      font-size: 2.5rem;
      width: 100%; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 100%; }

  .about__content__img img {
    height: 400px; }

  .about__content__img__box {
    padding: 15px 30px;
    border: 10px solid #fff; }
    .about__content__img__box h3 {
      font-size: 1.5rem; }
    .about__content__img__box p {
      font-size: 1rem; }

  .section-title__heading2 {
    font-size: 1.5rem; } }
@media (max-width: 500px) {
  .hero__heading-2 {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
