/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
/*----------------------------------------
PARTIALS
----------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #182434; }

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
  color: #F8F9FA; }
  a:hover, a:focus {
    cursor: pointer;
    transition: 0.35s ease-in;
    outline: none;
    color: #FDA12B; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

button {
  background-color: #FDA12B;
  border-color: #FDA12B;
  padding: 15px 35px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block; }
  button:hover {
    transition: 0.35s ease-in;
    background: transparent;
    color: #FDA12B; }

.section {
  padding: 70px 0px; }

p {
  font-size: 1rem; }

.container {
  width: 90%;
  margin: 0px auto; }

.section-title {
  border-left: 5px solid #FDA12B;
  padding-left: 25px; }
  .section-title__heading1 {
    color: #8D9297;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1rem; }
  .section-title__heading2 {
    color: #182434;
    font-weight: 700;
    font-size: 2.5rem; }

.topnav {
  background-color: #F8F9FA;
  color: #8D9297; }
  .topnav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px;
    font-size: 0.85rem; }
    .topnav__content .topnav-info {
      padding: 5px 10px;
      border-left: 1px solid #8D9297; }
      .topnav__content .topnav-info:last-child {
        border-right: 1px solid #8D9297; }
    .topnav__content__contact {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: auto;
      gap: 0px; }
      .topnav__content__contact__item i {
        margin-right: 5px; }
    .topnav__content__social__link {
      color: #8D9297; }

.nav {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: auto;
  gap: 0px; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .nav__logo i {
      color: #FDA12B;
      margin-right: 10px;
      font-size: 3rem; }
    .nav__logo__heading {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 2rem; }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .nav__list__item:not(:last-child) {
      margin-right: 15px; }
    .nav__list__item:nth-child(3) {
      position: relative; }
    .nav__list__item__link {
      color: #8D9297;
      text-transform: uppercase;
      font-size: 1.1rem; }
  .nav__hamburger {
    display: none;
    border: 1px solid #8D9297;
    padding: 5px 12px;
    cursor: pointer; }
    .nav__hamburger i {
      font-size: 1.7rem; }

.mobilemenu {
  border-top: 1px solid #8D9297;
  transition: 0.15s ease-in-out; }
  @media (min-width: 992px) {
    .mobilemenu {
      display: none; } }
  .mobilemenu__list {
    margin: 30px; }
    .mobilemenu__list__item:not(:last-child) {
      margin-bottom: 10px; }
    .mobilemenu__list__item__link {
      display: block;
      color: #8D9297;
      text-transform: uppercase; }
  .mobilemenu.hidden {
    display: none; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/carousel-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: auto;
  gap: 0px; }
  .hero__heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: auto;
    gap: 0px; }
    .hero__heading-1 {
      color: #fff;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .hero__heading-2 {
      max-width: 800px;
      color: #fff;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-size: 4rem; }

.about__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .about__content__img {
    flex: 0 0 45%;
    position: relative; }
    .about__content__img img {
      height: 500px;
      object-fit: cover; }
    .about__content__img__box {
      position: absolute;
      top: 0px;
      right: auto;
      bottom: auto;
      left: 0px;
      width: auto;
      height: auto;
      background-color: #FDA12B;
      text-align: center;
      padding: 25px 40px;
      border: 20px solid #fff; }
      .about__content__img__box h3 {
        color: #fff;
        font-size: 2rem; }
      .about__content__img__box p {
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem; }
  .about__content__text {
    flex: 0 0 45%; }
    .about__content__text__paragraph {
      margin-top: 20px;
      color: #8D9297; }
    .about__content__text__group {
      padding-top: 20px;
      border-top: 1px solid #8D9297;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: auto;
      gap: 0px; }
      .about__content__text__group i {
        color: #FDA12B;
        font-size: 2rem;
        margin-right: 5px; }
      .about__content__text__group span {
        font-weight: 500; }

.number {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .number__item {
    flex: 1;
    padding: 15px 40px;
    color: #fff; }
    .number__item:nth-child(1) {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/fact-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto; }
    .number__item:nth-child(2) {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/fact-2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto; }
    .number__item:nth-child(3) {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/fact-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto; }
    .number__item:nth-child(4) {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/fact-4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto; }
    .number__item__heading {
      color: transparent;
      font-size: 7rem;
      -webkit-text-stroke: 2px #FDA12B; }
    .number__item__paragraph {
      font-size: 0.8rem; }
    .number__item__link {
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 0.9rem;
      display: inline-block; }
      .number__item__link i {
        margin-left: 10px; }

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
.services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .services__content__item {
    margin-top: 30px;
    flex-basis: 31%;
    text-align: center; }
    .services__content__item:hover .services__content__item__text {
      background-color: #FDA12B;
      transition: 0.35s ease-in; }
    .services__content__item:hover .services__content__item__text h4, .services__content__item:hover .services__content__item__text p, .services__content__item:hover .services__content__item__text a {
      color: #fff; }
    .services__content__item img {
      width: 100%;
      resize: both;
      vertical-align: middle; }
    .services__content__item__text {
      padding: 20px;
      background-color: #f8f9fb; }
      .services__content__item__text h4 {
        text-transform: uppercase; }
      .services__content__item__text p {
        margin: 10px 0px;
        color: #8D9297; }
      .services__content__item__text a {
        color: #FDA12B;
        text-transform: uppercase;
        font-size: 0.9rem; }

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/carousel-1.jpg");
  background-position: center;
  background-size: cover; }
  .contact__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: auto;
    gap: 0px; }
    .contact__content__text {
      flex: 0 0 40%; }
      .contact__content__text .section-title {
        color: #fff; }
        .contact__content__text .section-title__heading1 {
          color: #fff; }
        .contact__content__text .section-title__heading2 {
          color: #fff;
          margin-bottom: 20px; }
    .contact__content form {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: auto;
      gap: 0px; }
      .contact__content form .input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: auto;
        gap: 0px;
        gap: 10px;
        width: 100%;
        margin-bottom: 15px; }
        .contact__content form .input-group .form-input {
          flex: 0 0 50%;
          outline: none;
          padding: 25px 15px;
          background-color: #182434;
          border: none;
          font-weight: 400;
          color: #fff; }
          .contact__content form .input-group .form-input::placeholder {
            color: #fff; }
      .contact__content form textarea {
        width: 100%;
        outline: none;
        padding: 15px;
        background-color: #182434;
        border: none;
        height: 150px; }
        .contact__content form textarea::placeholder {
          color: #fff; }
      .contact__content form button[type="submit"] {
        width: 100%;
        margin-top: 20px; }

.team .team__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .team .team__header P {
    max-width: 500px; }
.team__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: auto;
  gap: 0px; }
  .team__content__img {
    flex: 0 0 32%;
    margin-top: 30px;
    position: relative;
    cursor: pointer; }
    .team__content__img:hover .team__content__img__text {
      right: 0px; }
    .team__content__img img {
      width: 100%; }
    .team__content__img__text {
      position: absolute;
      top: auto;
      right: 40px;
      bottom: 60px;
      left: 0px;
      width: auto;
      height: auto;
      background-color: #fff;
      transition: 0.15s ease-in-out;
      padding: 10px 30px; }
      .team__content__img__text h4 {
        font-size: 1.2rem;
        margin-bottom: 10px; }

@media (max-width: 992px) {
  .topnav,
  .nav__list {
    display: none; }

  .nav__hamburger {
    display: block; }

  .hero__heading-2 {
    max-width: 700px; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 70%; }

  .about__content__text {
    margin-top: 40px; }

  .about__content__text__group {
    flex-direction: column;
    align-items: flex-start; }

  .number__item {
    flex: 0 0 50%; }

  .services__content__item {
    flex-basis: 45%; }

  .services__header button {
    margin-top: 15px; }

  .contact__content {
    justify-content: center; }
    .contact__content__text {
      flex: 0 0 80%; }
    .contact__content form {
      flex: 0 0 80%;
      margin-top: 20px; }

  .team__header P {
    max-width: 100%;
    margin-top: 30px; } }
@media (max-width: 768px) {
  .hero__heading-2 {
    max-width: 500px; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 90%; }

  .number__item {
    flex: 0 0 100%; }

  .services__content {
    justify-content: center; }
    .services__content__item {
      flex-basis: 85%; }

  .team__content {
    justify-content: center; }
    .team__content__img {
      flex: 0 0 70%; } }
@media (max-width: 576px) {
  button {
    padding: 10px 25px;
    font-size: 1rem; }

  .nav__logo__heading {
    font-size: 1.5rem; }

  .nav__logo i {
    font-size: 2.5rem; }

  .nav__hamburger {
    padding: 5px 10px; }
    .nav__hamburger i {
      font-size: 1.5rem; }

  .hero__heading {
    align-items: center;
    text-align: center; }
    .hero__heading-1 {
      font-size: 1.2rem; }
    .hero__heading-2 {
      font-size: 2.5rem;
      width: 100%; }

  .about__content__img,
  .about__content__text {
    flex: 0 0 100%; }

  .about__content__img img {
    height: 400px; }

  .about__content__img__box {
    padding: 15px 30px;
    border: 10px solid #fff; }
    .about__content__img__box h3 {
      font-size: 1.5rem; }
    .about__content__img__box p {
      font-size: 1rem; }

  .section-title__heading2 {
    font-size: 1.5rem; }

  .services__content__item {
    flex-basis: 100%; }

  .contact__content__text {
    flex: 0 0 100%; }
  .contact__content form {
    flex: 0 0 100%; }
    .contact__content form .input-group {
      flex-direction: column; }
      .contact__content form .input-group .form-input {
        width: 100%;
        padding: 20px 10px;
        font-size: 0.9rem; }

  .team__content__img {
    flex: 0 0 100%; }
    .team__content__img__text {
      bottom: 30px; } }
@media (max-width: 500px) {
  .hero__heading-2 {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
