/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
@keyframes flicker {
  0% {
    filter: blur(5px) brightness(0); }
  3% {
    filter: blur(5px) brightness(1); }
  6% {
    filter: blur(5px) brightness(0); }
  7% {
    filter: blur(5px) brightness(1); }
  8% {
    filter: blur(5px) brightness(0); }
  9% {
    filter: blur(5px) brightness(1); }
  10% {
    filter: blur(5px) brightness(0); }
  20% {
    filter: blur(5px) brightness(1); }
  50% {
    filter: blur(5px) brightness(1); }
  99% {
    filter: blur(5px) brightness(0); }
  100% {
    filter: blur(5px) brightness(1); } }
.text-primary {
  color: #FFC600; }

.text-secondary {
  color: #23A036; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.bg-primary {
  background-color: #FFC600; }

.bg-secondary {
  background-color: #23A036; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.p-0 {
  padding: 0px; }

.p-1 {
  padding: 5px; }

.p-2 {
  padding: 10px; }

.p-3 {
  padding: 15px; }

.p-4 {
  padding: 20px; }

.pt-0 {
  padding-top: 0px; }

.pt-1 {
  padding-top: 5px; }

.pt-2 {
  padding-top: 10px; }

.pt-3 {
  padding-top: 15px; }

.pt-4 {
  padding-top: 20px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-1 {
  padding-bottom: 5px; }

.pb-2 {
  padding-bottom: 10px; }

.pb-3 {
  padding-bottom: 15px; }

.pb-4 {
  padding-bottom: 20px; }

.pr-0 {
  padding-right: 0px; }

.pr-1 {
  padding-right: 5px; }

.pr-2 {
  padding-right: 10px; }

.pr-3 {
  padding-right: 15px; }

.pr-4 {
  padding-right: 20px; }

.pl-0 {
  padding-left: 0px; }

.pl-1 {
  padding-left: 5px; }

.pl-2 {
  padding-left: 10px; }

.pl-3 {
  padding-left: 15px; }

.pl-4 {
  padding-left: 20px; }

.mt-0 {
  margin-top: 0px; }

.mt-1 {
  margin-top: 5px; }

.mt-2 {
  margin-top: 10px; }

.mt-3 {
  margin-top: 15px; }

.mt-4 {
  margin-top: 20px; }

.ml-0 {
  margin-left: 0px; }

.ml-1 {
  margin-left: 5px; }

.ml-2 {
  margin-left: 10px; }

.ml-3 {
  margin-left: 15px; }

.ml-4 {
  margin-left: 20px; }

.mr-0 {
  margin-right: 0px; }

.mr-1 {
  margin-right: 5px; }

.mr-2 {
  margin-right: 10px; }

.mr-3 {
  margin-right: 15px; }

.mr-4 {
  margin-right: 20px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-1 {
  margin-bottom: 5px; }

.mb-2 {
  margin-bottom: 10px; }

.mb-3 {
  margin-bottom: 15px; }

.mb-4 {
  margin-bottom: 20px; }

.m-0 {
  margin: 0px; }

.m-1 {
  margin: 5px; }

.m-2 {
  margin: 10px; }

.m-3 {
  margin: 15px; }

.m-4 {
  margin: 20px; }

/*----------------------------------------
PARTIALS
----------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }

body {
  color: #777777;
  background-color: #fff;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

a {
  color: #777777;
  text-decoration: none;
  transition: 0.7s ease-in; }
  a:hover, a:focus, a:active {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    outline: none;
    color: #23A036; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

p {
  font-size: 1rem; }

i {
  cursor: pointer;
  transition: 0.7s ease-in; }
  i:hover {
    transition: 0.5s ease-in-out; }

input {
  outline: none;
  border: none; }

.btn {
  cursor: pointer;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 100px;
  color: #000;
  background-color: #FFC600;
  display: inline-block;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: 0.7s ease-in;
  font-size: 1.1rem; }
  .btn:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(10px); }

.container {
  width: 90%;
  margin: 0px auto; }

.section {
  padding: 70px 0px; }
  .section__title {
    text-transform: uppercase;
    font-weight: 600;
    color: #23A036;
    margin-bottom: 1rem; }
  .section__subtitle {
    position: relative;
    padding-left: 60px;
    font-size: 2rem;
    color: #000;
    font-weight: 700; }
    @media (max-width: 576px) {
      .section__subtitle {
        font-size: 1.5rem; } }
    .section__subtitle::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      width: 45px;
      height: 2px;
      background: #FFC600; }
    .section__subtitle::after {
      position: absolute;
      content: "";
      top: 14px;
      left: 0;
      width: 45px;
      height: 2px;
      background: #23A036; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px; }
  @media (max-width: 992px) {
    nav {
      background-color: #23A036;
      align-items: center;
      padding: 0px 30px; } }
  nav .nav__logo {
    flex: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    font-size: 4.5rem; }
    @media (max-width: 992px) {
      nav .nav__logo {
        justify-content: flex-start; } }
    @media (max-width: 768px) {
      nav .nav__logo {
        font-size: 3.5rem; } }
    @media (max-width: 576px) {
      nav .nav__logo {
        font-size: 2.5rem; } }
    nav .nav__logo a {
      color: #FFC600; }
      nav .nav__logo a:hover {
        color: #FFC600; }
  nav .nav__content {
    flex: 3; }
    @media (max-width: 992px) {
      nav .nav__content {
        display: none; } }
    nav .nav__content .nav__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
    nav .nav__content .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      nav .nav__content .nav__list ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0px; }
        nav .nav__content .nav__list ul li a {
          font-size: 1.1rem; }
  nav .nav__hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: none;
    z-index: 101;
    transition: 0.7s ease-in;
    position: relative; }
    @media (max-width: 992px) {
      nav .nav__hamburger {
        display: block; } }
    @media (max-width: 576px) {
      nav .nav__hamburger {
        width: 25px;
        height: 25px; } }
    nav .nav__hamburger .hamburger-top,
    nav .nav__hamburger .hamburger-middle,
    nav .nav__hamburger .hamburger-bottom {
      position: absolute;
      top: 0%;
      right: auto;
      bottom: auto;
      left: 0%;
      width: 100%;
      height: 3px;
      background-color: #000;
      transform: rotate(0);
      transition: 0.5s ease-in-out; }
    nav .nav__hamburger .hamburger-middle {
      transform: translateY(10px); }
    nav .nav__hamburger .hamburger-bottom {
      transform: translateY(20px); }
    nav .nav__hamburger.open .hamburger-top {
      transform: rotate(45deg) translateY(2px) translateX(1px); }
    nav .nav__hamburger.open .hamburger-middle {
      display: none; }
    nav .nav__hamburger.open .hamburger-bottom {
      transform: rotate(-45deg) translateY(2px) translateY(1px); }
  nav .nav__mobile {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: auto;
    left: auto;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    transition: 0.7s ease-in;
    z-index: 99; }
    @media (min-width: 992px) {
      nav .nav__mobile {
        display: none; } }
    @media (max-width: 576px) {
      nav .nav__mobile {
        width: 70%; } }
    nav .nav__mobile.hidden {
      transform: translateX(100%); }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/header-bg.jpg");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-attachment: scroll; }
  .hero hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    width: 100%;
    max-width: 900px; }
    .hero hgroup h3 {
      font-size: 1.5rem;
      position: relative; }
      .hero hgroup h3::before {
        position: absolute;
        content: attr(data-text);
        text-shadow: 0px 0px 5px #23A036;
        animation: flicker 2.5s forwards; }
    .hero hgroup h1 {
      font-size: 3.5rem; }
      @media (max-width: 576px) {
        .hero hgroup h1 {
          font-size: 2.5rem; } }
      @media (max-width: 400px) {
        .hero hgroup h1 {
          font-size: 1.5rem; } }

.sub-hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  .sub-hero article {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 30px; }
    @media (max-width: 992px) {
      .sub-hero article {
        flex: 0 0 100%; } }
    @media (max-width: 576px) {
      .sub-hero article {
        flex-direction: column;
        text-align: center; } }
    .sub-hero article i {
      font-size: 2.5rem; }
    .sub-hero article .sub-hero-text p:first-child {
      font-size: 1.3rem; }

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .about {
      justify-content: center; } }
  .about .about-item:nth-child(1) {
    position: relative;
    flex: 0 0 40%; }
    @media (max-width: 992px) {
      .about .about-item:nth-child(1) {
        flex: 0 0 70%; } }
    @media (max-width: 576px) {
      .about .about-item:nth-child(1) {
        flex: 0 0 90%; } }
    .about .about-item:nth-child(1) img {
      resize: both;
      vertical-align: middle;
      object-fit: cover; }
    .about .about-item:nth-child(1) .about-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 21; }
      .about .about-item:nth-child(1) .about-over i {
        font-size: 4.5rem; }
        @media (max-width: 768px) {
          .about .about-item:nth-child(1) .about-over i {
            font-size: 3rem; } }
        @media (max-width: 576px) {
          .about .about-item:nth-child(1) .about-over i {
            font-size: 2rem; } }
      .about .about-item:nth-child(1) .about-over h3 {
        font-size: 3rem; }
        @media (max-width: 768px) {
          .about .about-item:nth-child(1) .about-over h3 {
            font-size: 2rem; } }
      .about .about-item:nth-child(1) .about-over P {
        font-size: 2rem; }
        @media (max-width: 768px) {
          .about .about-item:nth-child(1) .about-over P {
            font-size: 1rem; } }
    .about .about-item:nth-child(1) .about-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .about .about-item:nth-child(2) {
    flex: 0 0 50%; }
    @media (max-width: 992px) {
      .about .about-item:nth-child(2) {
        flex: 0 0 70%;
        margin-top: 30px; } }
    @media (max-width: 576px) {
      .about .about-item:nth-child(2) {
        flex: 0 0 90%; } }

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/services-bg.jpg");
  height: auto;
  background-position: center;
  background-size: cover;
  width: 100%; }
  .services-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center; }
    @media (max-width: 576px) {
      .services-content {
        grid-gap: 0px; } }
    .services-content .services-item:nth-child(1) {
      grid-column: span 7; }
      @media (max-width: 992px) {
        .services-content .services-item:nth-child(1) {
          grid-column: span 12; } }
      .services-content .services-item:nth-child(1) .section__subtitle {
        color: #fff; }
    .services-content .services-item:nth-child(2) {
      position: relative;
      grid-column: span 5;
      height: 450px; }
      @media (max-width: 576px) {
        .services-content .services-item:nth-child(2) {
          margin-top: 30px; } }
      @media (max-width: 992px) {
        .services-content .services-item:nth-child(2) {
          grid-column: span 12; } }
      @media (max-width: 576px) {
        .services-content .services-item:nth-child(2) {
          height: 400px; } }
      .services-content .services-item:nth-child(2) i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #23A036; }
      .services-content .services-item:nth-child(2) #left {
        position: absolute;
        top: 50%;
        left: 10px; }
      .services-content .services-item:nth-child(2) #right {
        position: absolute;
        top: 50%;
        right: 10px; }
      .services-content .services-item:nth-child(2) .services-slider {
        height: 100%;
        width: 100%; }
        .services-content .services-item:nth-child(2) .services-slider img {
          display: none;
          object-fit: cover;
          height: 100%;
          resize: both; }
          .services-content .services-item:nth-child(2) .services-slider img:nth-child(1) {
            display: block; }

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .feature {
      justify-content: center; } }
  .feature-item:nth-child(1) {
    flex: 0 0 55%; }
    @media (max-width: 992px) {
      .feature-item:nth-child(1) {
        flex: 0 0 80%; } }
    @media (max-width: 992px) {
      .feature-item:nth-child(1) {
        flex: 0 0 80%; } }
    .feature-item:nth-child(1) .feature-number {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0px; }
      @media (max-width: 576px) {
        .feature-item:nth-child(1) .feature-number {
          flex-direction: column;
          align-items: flex-start; } }
      .feature-item:nth-child(1) .feature-number h3 {
        font-size: 2.3rem; }
        @media (max-width: 576px) {
          .feature-item:nth-child(1) .feature-number h3 {
            font-size: 1.8rem; } }
      .feature-item:nth-child(1) .feature-number p {
        font-size: 1.2rem; }
        @media (max-width: 768px) {
          .feature-item:nth-child(1) .feature-number p {
            font-size: 1rem; } }
  .feature-item:nth-child(2) {
    flex: 0 0 40%; }
    @media (max-width: 992px) {
      .feature-item:nth-child(2) {
        flex: 0 0 80%;
        margin-top: 20px; } }
    @media (max-width: 576px) {
      .feature-item:nth-child(2) {
        flex: 0 0 100%; } }
    .feature-item:nth-child(2) img {
      resize: both;
      object-fit: cover; }
      @media (max-width: 992px) {
        .feature-item:nth-child(2) img {
          height: 400px; } }
      @media (max-width: 576px) {
        .feature-item:nth-child(2) img {
          height: 300px; } }

.portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/img/header-bg.jpg");
  height: auto;
  background-position: center;
  background-size: cover; }
  .portfolio-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px; }
    @media (max-width: 768px) {
      .portfolio-content {
        justify-content: center; } }
    .portfolio-content a {
      flex: 0 0 33%;
      position: relative;
      overflow: hidden; }
      .portfolio-content a:hover .portfolio-over {
        opacity: 1;
        transform: translateY(0);
        transition: 0.7s ease-in; }
      @media (max-width: 992px) {
        .portfolio-content a {
          flex: 0 0 50%; } }
      @media (max-width: 768px) {
        .portfolio-content a {
          flex: 0 0 80%; } }
      @media (max-width: 576px) {
        .portfolio-content a {
          flex: 0 0 90%; } }
      .portfolio-content a img {
        vertical-align: middle;
        resize: both;
        object-fit: cover; }
      .portfolio-content a .portfolio-over {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: auto;
        height: auto;
        transform: translateY(-100%);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px; }
        .portfolio-content a .portfolio-over p {
          font-size: 1.5rem; }
  .portfolio-popup {
    position: fixed;
    top: 50px;
    right: 50px;
    bottom: auto;
    left: 50px;
    width: auto;
    height: auto;
    display: none;
    z-index: 90; }
    @media (max-width: 576px) {
      .portfolio-popup {
        top: 20px;
        right: 20px;
        left: 20px; } }
    .portfolio-popup.visible {
      display: block; }
    .portfolio-popup button {
      position: absolute;
      top: -30px;
      right: -10px;
      bottom: auto;
      left: auto;
      width: auto;
      height: auto; }
    .portfolio-popup img {
      object-fit: cover;
      height: auto; }
      @media (max-width: 576px) {
        .portfolio-popup img {
          height: 400px; } }
      @media (max-width: 450px) {
        .portfolio-popup img {
          height: 350px; } }

.team-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center; }
  .team-content .team-item {
    grid-column: span 4; }
    @media (max-width: 768px) {
      .team-content .team-item {
        grid-column: span 6; } }
    @media (max-width: 576px) {
      .team-content .team-item {
        grid-column: span 12; } }
    .team-content .team-item .team-img {
      position: relative;
      overflow: hidden; }
      .team-content .team-item .team-img:hover .team-social {
        transform: translateX(0);
        opacity: 1;
        transition: 0.7s ease-in; }
      .team-content .team-item .team-img img {
        vertical-align: middle;
        object-fit: cover; }
      .team-content .team-item .team-img .team-social {
        position: absolute;
        top: 0px;
        right: auto;
        bottom: 0px;
        left: 0px;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        transform: translateX(-100%);
        opacity: 0; }
        .team-content .team-item .team-img .team-social a {
          width: 45px;
          height: 45px;
          line-height: 45px;
          text-align: center;
          border-radius: 50%; }

.blog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .blog-content {
      justify-content: center; } }
  .blog-content .blog-item {
    flex: 0 0 31%;
    position: relative; }
    @media (max-width: 992px) {
      .blog-content .blog-item {
        flex: 0 0 80%;
        margin-top: 20px; } }
    @media (max-width: 576px) {
      .blog-content .blog-item {
        flex: 0 0 90%; } }
    .blog-content .blog-item img {
      height: 200px;
      object-fit: cover;
      vertical-align: middle; }
    .blog-content .blog-item .team-corner {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: auto;
      left: auto;
      width: auto;
      height: auto; }

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .contact-content {
      justify-content: center; } }
  .contact-content .contact-item {
    flex: 0 0 47%; }
    .contact-content .contact-item:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px; }
      .contact-content .contact-item:nth-child(1) .form-input {
        width: 100%;
        border: 1px solid #FFC600;
        border-radius: 20px;
        margin-bottom: 15px;
        padding: 20px 15px;
        color: #000; }
        .contact-content .contact-item:nth-child(1) .form-input::placeholder {
          color: #000; }
        .contact-content .contact-item:nth-child(1) .form-input textarea:focus {
          outline: none;
          border: none; }
      @media (max-width: 992px) {
        .contact-content .contact-item:nth-child(1) {
          margin-bottom: 20px; } }
    @media (max-width: 992px) {
      .contact-content .contact-item {
        flex: 0 0 80%; } }
    @media (max-width: 576px) {
      .contact-content .contact-item {
        flex: 0 0 90%; } }
    .contact-content .contact-item .map {
      height: 400px;
      width: 100%; }
      @media (max-width: 576px) {
        .contact-content .contact-item .map {
          display: none; } }

/*# sourceMappingURL=style.css.map */
