.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/carousel-1.jpg');
    background-position: center;
    background-size: cover;

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoints(992px) {
            justify-content: center;
        }

        &__text {
            flex: 0 0 40%;

            @include breakpoints(992px) {
                flex: 0 0 80%;
            }

            @include breakpoints(576px) {
                flex: 0 0 100%;
            }


            .section-title {
                color: $whiteColor;

                &__heading1 {
                    color: $whiteColor;
                }

                &__heading2 {
                    color: $whiteColor;
                    margin-bottom: 20px;
                }
            }
        }

        form {
            flex: 0 0 50%;
            @include flex(center, flex-start, column, nowrap);

            @include breakpoints(992px) {
                flex: 0 0 80%;
                margin-top: 30px;
            }

            @include breakpoints(576px) {
                flex: 0 0 100%;
            }

            .input-group {
                @include flex(space-between, center);
                gap: 10px;
                width: 100%;
                margin-bottom: 15px;

                @include breakpoints(576px) {
                    flex-direction: column;
                }

                .form-input {
                    flex: 0 0 50%;
                    outline: none;
                    padding: 25px 15px;
                    background-color: #182434;
                    border: none;
                    font-weight: 400;
                    color: $whiteColor;

                    @include breakpoints(576px) {
                        width: 100%;
                        padding: 20px 10px;
                        font-size: 0.8rem;
                    }

                    &::placeholder {
                        color: $whiteColor;
                    }
                }
            }

            textarea {
                width: 100%;
                outline: none;
                padding: 15px;
                background-color: #182434;
                border: none;
                height: 150px;

                &::placeholder {
                    color: $whiteColor;
                }
            }
        }
    }
}