* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: $tertiaryColor;
}


a {
    text-decoration: none;
    transition: $transition;
    color: $secondaryColor;

    &:hover,
    &:focus {
        cursor: pointer;
        transition: $transition-out;
        outline: none;
        color: $primaryColor;
    }
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

button {
    background-color: $primaryColor;
    border-color: $primaryColor;
    padding: 15px 35px;
    transition: $transition;
    cursor: pointer;
    color: $whiteColor;
    font-weight: 700;
    font-size: 1.1rem;
    display: inline-block;

    &:hover {
        transition: $transition-out;
        background: transparent;
        color: $primaryColor;
    }
}

.section {
    padding: 70px 0px;
}

p {
    font-size: 1rem;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.section-title {
    border-left: 5px solid $primaryColor;
    padding-left: 25px;

    &__heading1 {
        color: #8D9297;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    &__heading2 {
        color: $tertiaryColor;
        font-weight: 700;
        font-size: 2.5rem;
    }
}

.scroll__top {
    @include positioning(fixed, auto, 15px, 15px, auto);
    padding: 10px 15px;
    border: 1px solid $primaryColor;
    opacity: 0;
    transform: translateX(-100%);
    transition: $transition-out;

    &.animated {
        opacity: 1;
        transform: translate(0)
    }
}