.number {
    @include flex(flex-start, flex-start, row, wrap);

    &__item {

        flex: 1;
        padding: 15px 40px;
        color: $whiteColor;

        &:nth-child(1) {
            background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/fact-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
        }

        &:nth-child(2) {
            background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/fact-2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
        }

        &:nth-child(3) {
            background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/fact-3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
        }

        &:nth-child(4) {
            background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/fact-4.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
        }

        &__heading {
            color: transparent;
            font-size: 7rem;
            -webkit-text-stroke: 2px $primaryColor;
        }

        &__paragraph {
            font-size: 0.8rem;
        }

        &__link {
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 0.9rem;
            display: inline-block;

            i {
                margin-left: 10px;
            }
        }
    }
}