.services {

    &__header {
        @include flex(space-between, center, row, wrap);

        @include breakpoints(1100px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoints(768px) {
            justify-content: center;
        }

        &__item {
            margin-top: 30px;
            flex: 0 0 30%;
            text-align: center;

            @include breakpoints(992px) {
                flex: 0 0 45%;
            }

            @include breakpoints(768px) {
                flex: 0 0 80%;
            }

            @include breakpoints(576px) {
                flex: 0 0 100%;
            }

            &:hover &__text {
                background-color: $primaryColor;
                transition: $transition-out;
            }

            &:hover &__text h4,
            &:hover &__text p,
            &:hover &__text a {
                color: $whiteColor;
            }

            img {
                width: 100%;
                resize: both;
                vertical-align: middle;
            }

            &__text {
                padding: 20px;
                background-color: #f8f9fb;

                h4 {
                    text-transform: uppercase;
                }

                p {
                    margin: 10px 0px;
                    color: #8D9297;
                }

                a {
                    color: $primaryColor;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                }
            }
        }
    }
}