.services {

    &__header {
        @include flex(space-between, center, row, wrap);

        @include breakpoints(1100px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content {
        @include flex(space-between, center, row, wrap);

        @include breakpoints(768px) {
            justify-content: center;
        }

        &__item {
            margin-top: 30px;
            flex: 0 0 30%;
            text-align: center;
            position: relative;

            @include breakpoints(992px) {
                flex: 0 0 45%;
            }

            @include breakpoints(768px) {
                flex: 0 0 80%;
            }

            @include breakpoints(576px) {
                flex: 0 0 90%;
            }

            &__img {
                position: relative;

                img {
                    resize: both;
                    vertical-align: middle;
                }

                &::before {
                    content: "";
                    @include positioning(absolute, 20px, 50px, auto, auto, 5px, 0px);
                    background-color: $primaryColor;
                    z-index: 10;
                    transition: height $transition-out;

                    @include breakpoints(450px) {
                        right: 30px
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 5px;
                    width: 0px;
                    background-color: $primaryColor;
                    transition: width $transition-out;
                }

                &:hover::before {
                    height: 80%;
                }

                &:hover::after {
                    width: 90%;
                }

                .name {
                    @include positioning(absolute, 30%, auto, auto, 30px, 0px);
                    font-size: 1.4rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: $whiteColor;
                    overflow: hidden;
                    transition: width $transition-out;
                    z-index: 20;

                    @include breakpoints(768px) {
                        top: 40%;
                        left: 50px;
                    }

                    @include breakpoints(450px) {
                        top: 30%;
                        left: 30px;
                        font-size: 1rem;
                    }
                }

                &:hover .name {
                    width: 100%;
                }

                .overlay-img {
                    @include positioning(absolute, 0px, 0px, 0px, 0px, 100%, 100%);
                    background: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}