.topnav {
    background-color: $secondaryColor;
    color: #8D9297;

    @include breakpoints(992px) {
        display: none;
    }

    &__content {
        @include flex(space-between, center);
        font-size: 0.85rem;

        .topnav-info {
            padding: 10px;
            border-left: 1px solid #8D9297;

            &:last-child {
                border-right: 1px solid #8D9297;
            }
        }

        &__contact {
            @include flex(center, flex-start);
        }
    }
}