.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/carousel-1.jpg');
    background-position: center;
    background-size: cover;

    &__wrapper {
        @include flex(space-around, center, row, wrap);

        @include breakpoints(992px) {
            justify-content: center;
            gap: 1rem;
        }

        .contact__item {
            flex: 0 0 45%;

            @include breakpoints(992px) {
                flex: 0 0 80%;
            }

            @include breakpoints(576px) {
                flex: 0 0 100%;
            }

            .section-title {
                color: $whiteColor;

                &__heading1 {
                    color: $whiteColor;
                }

                &__heading2 {
                    color: $whiteColor;
                    margin-bottom: 20px;
                }
            }
        }

        form {
            @include flex(center, flex-start, column, nowrap);

            @include breakpoints(576px) {
                flex: 0 0 100%;
            }

            .contact__input__group {
                @include flex(space-between, center, row, nowrap, 1rem);
                width: 100%;
                margin-bottom: 1rem;

                @include breakpoints(576px) {
                    flex-direction: column;
                }

                .contact__form__component {
                    flex: 1;
                    padding: 25px 15px;
                    background-color: #182434;
                    color: $whiteColor;

                    @include breakpoints(576px) {
                        width: 100%;
                        padding: 20px 10px;
                        font-size: 0.8rem;
                    }

                    &::placeholder {
                        color: $whiteColor;
                    }
                }
            }

            textarea {
                width: 100%;
                padding: 15px;
                background-color: #182434;
                border: none;
                height: 150px;
                color: $whiteColor;

                &::placeholder {
                    color: $whiteColor;
                }
            }

            .contact__btn {
                width: 100%;
                text-transform: capitalize;
                background-color: $primaryColor;
                color: $whiteColor;
                margin-top: 1rem;
            }
        }
    }
}