* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .4s linear;
    list-style-type: none;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;

    @include breakpoints(576px) {
        font-size: 85%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: $tertiaryColor;
    text-transform: capitalize;
}


a {
    color: #8D9297;

    &:hover,
    &:focus {
        cursor: pointer;
        color: $primaryColor;
    }
}


img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.cta {
    position: relative;
    border: 2px solid $primaryColor;
    padding: 15px 35px;
    cursor: pointer;
    color: $primaryColor;
    font-weight: 700;
    font-size: 1.1rem;
    z-index: 400;
    background: transparent;

    &:hover {
        color: $whiteColor;
    }

    @include breakpoints(576px) {
        padding: 10px 25px;
        font-size: 1rem;
    }

    &:hover>div {
        width: 100%;
    }

    div {
        @include positioning(absolute, 0px, auto, 0px, 0px, 0%);
        background-color: $primaryColor;
        z-index: -3;
    }
}

.section {
    padding: 70px 0px;
}


.container {
    width: 80%;
    margin: 0px auto;

    @include breakpoints(576px) {
        width: 90%;
    }
}

.section-title {
    border-left: 5px solid $primaryColor;
    padding-left: 25px;

    &__heading1 {
        color: #8D9297;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    &__heading2 {
        color: $tertiaryColor;
        font-weight: 700;
        font-size: 2.5rem;

        @include breakpoints(768px) {
            font-size: 2rem;
        }

        @include breakpoints(576px) {
            font-size: 1.5rem;
        }
    }
}

.scroll__top {
    @include positioning(fixed, auto, 15px, 15px, auto);
    padding: 10px 15px;
    border: 1px solid $primaryColor;
    opacity: 0;
    transform: translateX(-100%);
    background: $primaryColor;
    color: $whiteColor;
    cursor: pointer;

    &:hover {
        background: transparent;
        color: $primaryColor;
    }

    &.animated {
        opacity: 1;
        transform: translate(0);
    }
}