.nav {
    padding: 1rem 0;
    @include flex(space-between, );
    animation: navAnimation 1s .4s linear;
    position: relative;

    &__logo {
        @include flex();
        gap: .5rem;

        i {
            color: $primaryColor;
            font-size: 3rem;

            @include breakpoints(576px) {
                font-size: 2.5rem;
            }
        }

        &__heading {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 2rem;

            @include breakpoints(768px) {
                font-size: 1.5rem;
            }
        }
    }

    .nav__list {
        @include flex();
        gap: 1rem;

        @include breakpoints(992px) {
            display: none;
            @include positioning(absolute, 99%, 0, auto, 0);
            flex-direction: column;
            z-index: 1000;
            align-items: flex-start;
            background-color: $primaryColor;
            padding: 1rem 0 1rem 1rem;
        }

        &.show {
            display: block;
        }

        &__item {

            &:hover .nav__underline {
                width: 100%;
            }

            .nav__link {
                text-transform: uppercase;
                font-weight: 500;
                color: $primaryColor;

                @include breakpoints(992px) {
                    color: $whiteColor;
                }
            }

            .nav__underline {
                width: 0%;
                height: 2px;
                background-color: $primaryColor;
            }
        }
    }

    &__hamburger {
        display: none;
        border: 1px solid #8D9297;
        padding: 5px 12px;
        cursor: pointer;

        @include breakpoints(992px) {
            display: block;
        }

        i {
            font-size: 1.7rem;

            @include breakpoints(576px) {
                font-size: 1.5rem;
            }
        }
    }
}