/*----------------------------------
Google fonts link
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
/*----------------------------------
External files
----------------------------------*/
/*----------------------------------
Partials
----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.4s linear;
  border: none;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #fff; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background: #111; }
  html::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 5rem; }

body {
  background-color: #111;
  color: #aaa;
  font-size: 100%; }
  @media (max-width: 576px) {
    body {
      font-size: 70%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize; }

section {
  padding: 70px 0px; }

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

.section-title {
  font-size: 1.2rem;
  color: #29d9d5;
  text-transform: capitalize; }

.section-subtitle {
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-weight: 700; }

.container {
  width: 80%;
  margin: 0 auto; }

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 2rem;
  font-size: 1rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  text-transform: capitalize; }
  .btn:hover {
    background: #29d9d5;
    color: #111; }
  @media (max-width: 576px) {
    .btn {
      font-size: 0.9rem;
      padding: 1rem 1.3rem; } }

.nav {
  background-color: #222;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1000; }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0; }
    .nav-wrapper .nav-hamburger {
      font-size: 2.5rem;
      color: #fff;
      cursor: pointer;
      display: none; }
      @media (max-width: 992px) {
        .nav-wrapper .nav-hamburger {
          display: block; } }
      @media (max-width: 576px) {
        .nav-wrapper .nav-hamburger {
          font-size: 2rem; } }
    .nav-wrapper .nav-logo {
      font-size: 2rem;
      color: #fff;
      margin: 0;
      text-transform: capitalize;
      font-weight: 600; }
      @media (max-width: 576px) {
        .nav-wrapper .nav-logo {
          font-size: 1.5rem; } }
      .nav-wrapper .nav-logo i {
        margin-right: .5rem;
        color: #29d9d5; }
    .nav-wrapper .nav-list {
      display: flex;
      align-items: center; }
      @media (max-width: 992px) {
        .nav-wrapper .nav-list {
          position: absolute;
          top: 100%;
          right: 0;
          bottom: auto;
          left: 0;
          background-color: #222;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          padding-left: 10%;
          flex-direction: column;
          align-items: flex-start; } }
      .nav-wrapper .nav-list.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      .nav-wrapper .nav-list li:not(:last-child) {
        margin-right: 1rem; }
      @media (max-width: 992px) {
        .nav-wrapper .nav-list li {
          margin-bottom: 1rem; } }
      .nav-wrapper .nav-list li a {
        color: #fff;
        text-transform: capitalize; }
        .nav-wrapper .nav-list li a:hover {
          color: #29d9d5; }
    @media (max-width: 576px) {
      .nav-wrapper .btn {
        display: none; } }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/home-bg.jpg") no-repeat center/cover;
  height: 80vh;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
  text-align: center;
  margin: 7rem 5% 0 5%; }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0; }
    .home-content span {
      font-size: 3rem;
      color: transparent;
      margin: 0;
      text-transform: capitalize;
      font-weight: 600;
      -webkit-text-stroke: 0.1rem #fff; }
      @media (max-width: 576px) {
        .home-content span {
          font-size: 1.8rem; } }
    .home-content h3 {
      font-size: 5rem;
      color: #fff; }
      @media (max-width: 992px) {
        .home-content h3 {
          font-size: 3.5rem; } }
      @media (max-width: 992px) {
        .home-content h3 {
          font-size: 2.5rem; } }
      @media (max-width: 400px) {
        .home-content h3 {
          font-size: 1.5rem; } }
    .home-content p {
      max-width: 650px;
      line-height: 2; }
      @media (max-width: 576px) {
        .home-content p {
          max-width: 90%; } }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.5rem; }
  .about-item {
    flex: 1 1 25rem; }
    .about-item video {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem; }
    .about-item .video-controls {
      text-align: center; }
      .about-item .video-controls span {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        margin: .7rem; }
        .about-item .video-controls span:hover {
          background-color: #29d9d5; }
        @media (max-width: 576px) {
          .about-item .video-controls span {
            height: 1rem;
            width: 1rem;
            margin: .5rem; } }

.booking {
  background-color: #222;
  padding: 1rem;
  margin-top: -4rem;
  border-radius: 1rem; }
  .booking form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row wrap;
    gap: 2rem; }
    .booking form div {
      flex: 1 1 10rem; }
      .booking form div label {
        display: block;
        margin-bottom: .8rem;
        text-transform: capitalize; }
      .booking form div .form-input {
        width: 100%;
        border: 1px solid #29d9d5;
        border-radius: 5rem;
        background: transparent;
        padding: 1rem;
        color: #fff; }
        .booking form div .form-input::placeholder {
          color: #fff; }
    .booking form .btn {
      flex: 1 1 10rem; }

.destination-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem; }
  @media (max-width: 576px) {
    .destination-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.5rem; } }
  .destination-wrapper .destination-item {
    border-radius: 1rem;
    overflow: hidden;
    text-align: center; }
    .destination-wrapper .destination-item:hover > .dest-img > img {
      transform: scale(1.2); }
    .destination-wrapper .destination-item .dest-img {
      height: 20rem;
      overflow: hidden; }
      @media (max-width: 576px) {
        .destination-wrapper .destination-item .dest-img {
          height: 15rem; } }
      .destination-wrapper .destination-item .dest-img img {
        height: 100%; }
    .destination-wrapper .destination-item .dest-content {
      background-color: #222;
      padding: 1rem; }
      .destination-wrapper .destination-item .dest-content h3 {
        font-size: 1.2rem;
        color: #fff;
        margin: 0;
        text-transform: capitalize;
        font-weight: 600; }
        @media (max-width: 576px) {
          .destination-wrapper .destination-item .dest-content h3 {
            font-size: 1rem; } }
      .destination-wrapper .destination-item .dest-content p {
        max-width: 280px;
        margin: .7rem auto; }
      .destination-wrapper .destination-item .dest-content a {
        color: #29d9d5;
        text-transform: capitalize; }
        .destination-wrapper .destination-item .dest-content a:hover {
          transform: translateX(-20px); }

/*# sourceMappingURL=style.css.map */
