@keyframes navAnimation {

    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes heroAniamtion {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(200px);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}