@include breakpoints(992px) {

    .topnav,
    .nav__list {
        display: none;
    }

    .nav__hamburger {
        display: block;
    }

    .hero__heading-2 {
        max-width: 700px;
    }

    .about__content__img,
    .about__content__text {
        flex: 0 0 70%;
    }

    .about__content__text {
        margin-top: 40px;
    }

    .about__content__text__group {
        flex-direction: column;
        align-items: flex-start;
    }

    .number__item {
        flex: 0 0 50%;
    }

    .services__content {

        &__item {
            flex-basis: 45%;
        }
    }

    .services__header {
        button {
            margin-top: 15px;
        }
    }

    .contact__content {
        justify-content: center;

        &__text {
            flex: 0 0 80%;
        }

        form {
            flex: 0 0 80%;
            margin-top: 20px;
        }
    }

    .team__header {

        P {
            max-width: 100%;
            margin-top: 30px;
        }

    }

    .footer__content__item {
        flex: 0 0 70%;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

}

@include breakpoints(768px) {
    .hero__heading-2 {
        max-width: 500px;
    }

    .about__content__img,
    .about__content__text {
        flex: 0 0 90%;
    }

    .number__item {
        flex: 0 0 100%;
    }

    .services__content {
        justify-content: center;

        &__item {
            flex-basis: 85%;
        }
    }

    .team__content {
        justify-content: center;

        &__img {
            flex: 0 0 70%;
        }
    }

}

@include breakpoints(576px) {

    button {
        padding: 10px 25px;
        font-size: 1rem;
    }

    .nav__logo__heading {
        font-size: 1.5rem;
    }

    .nav__logo i {
        font-size: 2.5rem;
    }

    .nav__hamburger {
        padding: 5px 10px;

        i {
            font-size: 1.5rem;
        }
    }

    .hero__heading {
        align-items: center;
        text-align: center;

        &-1 {
            font-size: 1.2rem;
        }

        &-2 {
            font-size: 2.5rem;
            width: 100%;
        }
    }

    .about__content__img,
    .about__content__text {
        flex: 0 0 100%;
    }

    .about__content__img img {
        height: 400px;
    }

    .about__content__img__box {
        padding: 15px 30px;
        border: 10px solid $whiteColor;

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .section-title__heading2 {
        font-size: 1.5rem;
    }

    .services__content {

        &__item {
            flex-basis: 100%;
        }
    }

    .contact__content {

        &__text {
            flex: 0 0 100%;
        }

        form {
            flex: 0 0 100%;

            .input-group {
                flex-direction: column;

                .form-input {
                    width: 100%;
                    padding: 20px 10px;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .team__content {

        &__img {
            flex: 0 0 100%;

            &__text {
                bottom: 30px;
            }
        }
    }

    .footer__content__item {
        flex: 0 0 100%;
    }

    .footer__subcontent {
        flex-direction: column;
        text-align: center;
    }
}

@include breakpoints(500px) {
    .hero__heading-2 {
        font-size: 2rem;
    }
}