@include breakpoints(992px) {

    .topnav,
    .nav__list {
        display: none;
    }

    .nav__hamburger {
        display: block;
    }

    .hero__heading-2 {
        max-width: 700px;
    }

    .about__content__img,
    .about__content__text{
        flex: 0 0 70%;
    }

    .about__content__text{
        margin-top: 40px;
    }

    .about__content__text__group{
        flex-direction: column;
        align-items: flex-start;
    }
}

@include breakpoints(768px) {
    .hero__heading-2 {
        max-width: 500px;
    }

    .about__content__img,
    .about__content__text{
        flex: 0 0 90%;
    }
}

@include breakpoints(576px) {

    button {
        padding: 10px 25px;
        font-size: 1rem;
    }

    .nav__logo__heading {
        font-size: 1.5rem;
    }

    .nav__logo i {
        font-size: 2.5rem;
    }

    .nav__hamburger {
        padding: 5px 10px;

        i {
            font-size: 1.5rem;
        }
    }

    .hero__heading {
        align-items: center;
        text-align: center;

        &-1 {
            font-size: 1.2rem;
        }

        &-2 {
            font-size: 2.5rem;
            width: 100%;
        }
    }

    .about__content__img,
    .about__content__text{
        flex: 0 0 100%;
    }

    .about__content__img img{
        height: 400px;
    }

    .about__content__img__box{
        padding: 15px 30px;
        border: 10px solid $whiteColor;

        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 1rem;
        }
    }

    .section-title__heading2{
        font-size: 1.5rem;
    }
}

@include breakpoints(500px) {
    .hero__heading-2 {
        font-size: 2rem;
    }
}