/*----------------------------------
External files
----------------------------------*/
/*----------------------------------
Partials
----------------------------------*/
/*----------------------------------
Google fonts link
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.5s linear;
  border: none;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Popins', sans-serif;
  line-height: 1.5;
  color: #fff; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background: #000; }
  html::-webkit-scrollbar-thumb {
    background: #f00; }

body {
  background: #000;
  font-size: 100%; }
  @media (max-width: 576px) {
    body {
      font-size: 70%; } }

section {
  padding: 70px 0px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize; }

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

.container {
  width: 80%;
  margin: 0 auto; }

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1.3rem;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem; }
  .btn:hover {
    transform: scale(0.9); }
  @media (max-width: 576px) {
    .btn {
      padding: .9rem;
      font-size: .9rem; } }

.section-title {
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative; }
  .section-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1; }
  .section-title span {
    font-size: 2rem;
    color: #f00;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem; }
    @media (max-width: 576px) {
      .section-title span {
        font-size: 1.5rem;
        padding: .5rem 1rem; } }

header {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  padding: 2rem 0;
  z-index: 10000; }
  header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0; }
    header .header-content .logo {
      font-size: 2rem;
      color: #f00;
      margin: 0;
      text-transform: uppercase;
      font-weight: 600; }
      @media (max-width: 576px) {
        header .header-content .logo {
          font-size: 1.8rem; } }
      header .header-content .logo span {
        color: #fff; }
        header .header-content .logo span:hover {
          color: #f00; }
    header .header-content nav.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    header .header-content nav a {
      padding: 1rem 1.5rem;
      display: inline-block;
      font-size: 1.2rem;
      color: #fff;
      margin: 0;
      text-transform: capitalize;
      font-weight: 400; }
      @media (max-width: 576px) {
        header .header-content nav a {
          font-size: 1rem; } }
      @media (max-width: 992px) {
        header .header-content nav a {
          display: block; } }
      header .header-content nav a:hover {
        background-color: #f00; }
    @media (max-width: 992px) {
      header .header-content nav {
        position: absolute;
        top: 90%;
        right: 0;
        bottom: auto;
        left: 0;
        background-color: #111;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); } }
    header .header-content #menu-btn {
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
      display: none; }
      header .header-content #menu-btn.fa-times {
        transform: rotate(180deg); }
      @media (max-width: 992px) {
        header .header-content #menu-btn {
          display: block; } }
      @media (max-width: 576px) {
        header .header-content #menu-btn {
          font-size: 1.5rem; } }

.home {
  padding: 0;
  margin-top: 6rem; }
  .home-item-slide {
    min-height: 80vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 0 10%;
    display: flex;
    align-items: center; }
    .home-item-slide .slide-content {
      max-width: 60rem; }
      @media (max-width: 576px) {
        .home-item-slide .slide-content {
          max-width: 100%; } }
      .home-item-slide .slide-content span {
        font-size: 2rem;
        color: #f00;
        display: block; }
        @media (max-width: 576px) {
          .home-item-slide .slide-content span {
            font-size: 1.5rem; } }
      .home-item-slide .slide-content h3 {
        font-size: 4rem;
        color: #fff;
        padding-top: 1rem 0; }
        @media (max-width: 768px) {
          .home-item-slide .slide-content h3 {
            font-size: 3rem; } }
        @media (max-width: 576px) {
          .home-item-slide .slide-content h3 {
            font-size: 2rem; } }
  .home .swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    background: #fff;
    border-radius: 0; }
    .home .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #f00; }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 8rem; }
  @media (max-width: 992px) {
    .about {
      gap: 4rem; } }
  .about-img {
    flex: 1 1 41rem;
    position: relative; }
    @media (max-width: 576px) {
      .about-img {
        order: 2; } }
    .about-img img {
      padding: 1.5rem; }
    .about-img::before, .about-img::after {
      position: absolute;
      content: "";
      z-index: -1;
      background: #f00;
      width: 10rem;
      height: 10rem; }
      @media (max-width: 576px) {
        .about-img::before, .about-img::after {
          width: 5rem;
          height: 5rem; } }
    .about-img::before {
      top: 0;
      left: 0; }
    .about-img::after {
      bottom: 0;
      right: 0; }
  .about-content {
    flex: 1 1 41rem; }
    .about-content span {
      font-size: 1.5rem;
      color: #f00;
      margin: 0;
      text-transform: capitalize;
      font-weight: 400; }
      @media (max-width: 576px) {
        .about-content span {
          font-size: 1rem; } }
    .about-content > h3 {
      font-size: 2.5rem;
      color: #fff;
      margin: 1rem 0;
      text-transform: capitalize;
      font-weight: 500; }
      @media (max-width: 576px) {
        .about-content > h3 {
          font-size: 1.5rem; } }
    .about-content > p {
      color: #aaa;
      margin-bottom: 1.5rem; }
    .about-content .about-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      gap: 2rem; }
      .about-content .about-wrapper article {
        margin-bottom: 1rem;
        flex: 1 1 10rem; }
        .about-content .about-wrapper article h3 {
          font-size: 1.5rem;
          color: #fff;
          margin: 0 0 1rem 0;
          text-transform: capitalize;
          font-weight: 500; }
          @media (max-width: 576px) {
            .about-content .about-wrapper article h3 {
              font-size: 1rem; } }
          .about-content .about-wrapper article h3 i {
            margin-right: .7rem;
            color: #f00; }
        .about-content .about-wrapper article P {
          color: #aaa; }

.features-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 0; }
  .features-wrapper .features-item {
    flex: 1 1 20rem; }
    .features-wrapper .features-item:hover > .feature-img > img {
      transform: scale(1.2); }
    .features-wrapper .features-item .feature-img {
      overflow: hidden;
      height: 21rem; }
      @media (max-width: 576px) {
        .features-wrapper .features-item .feature-img {
          height: 15rem; } }
      .features-wrapper .features-item .feature-img img {
        height: 100%;
        object-fit: cover; }
    .features-wrapper .features-item .feature-content {
      background-color: #111;
      text-align: center;
      padding: 1.5rem;
      color: #fff; }
      .features-wrapper .features-item .feature-content img {
        height: 5rem;
        width: auto;
        margin-top: 1rem;
        filter: invert(1); }
        @media (max-width: 576px) {
          .features-wrapper .features-item .feature-content img {
            height: 3rem; } }
      .features-wrapper .features-item .feature-content h3 {
        font-size: 1.5rem;
        color: #f00;
        margin: 1rem 0;
        text-transform: capitalize;
        font-weight: 400; }
        @media (max-width: 576px) {
          .features-wrapper .features-item .feature-content h3 {
            font-size: 1rem; } }
      .features-wrapper .features-item .feature-content P {
        color: #aaa; }
    .features-wrapper .features-item.second {
      display: flex;
      flex-direction: column-reverse; }
      @media (max-width: 992px) {
        .features-wrapper .features-item.second {
          flex-direction: column; } }

.pricing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem; }
  @media (max-width: 400px) {
    .pricing {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); } }
  .pricing i {
    margin-right: .7rem;
    color: #f00; }
  .pricing .pricing-info span {
    font-size: 1.5rem;
    color: #f00;
    margin: 0;
    text-transform: capitalize;
    font-weight: 400; }
    @media (max-width: 576px) {
      .pricing .pricing-info span {
        font-size: 1rem; } }
  .pricing .pricing-info h3 {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem 0;
    text-transform: capitalize;
    font-weight: 500; }
    @media (max-width: 576px) {
      .pricing .pricing-info h3 {
        font-size: 1.5rem; } }
  .pricing .pricing-info P {
    color: #aaa;
    margin-bottom: 1rem;
    text-transform: capitalize; }
  .pricing .pricing-item {
    padding: 1.5rem;
    text-align: center; }
    .pricing .pricing-item.basic {
      background: linear-gradient(130deg, #111 93%, transparent 90%); }
    .pricing .pricing-item h4 {
      font-size: 1.5rem; }
    .pricing .pricing-item > p {
      font-size: 1.5rem;
      color: #fff;
      margin: 1rem 0;
      text-transform: capitalize;
      font-weight: 500; }
      @media (max-width: 576px) {
        .pricing .pricing-item > p {
          font-size: 1rem; } }
      .pricing .pricing-item > p span {
        color: #f00;
        font-size: 2.5rem; }
    .pricing .pricing-item .list P {
      color: #aaa;
      margin-bottom: 1.5rem; }

.trainers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem; }
  @media (max-width: 400px) {
    .trainers-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); } }
  .trainers-wrapper article {
    height: 30rem;
    position: relative;
    overflow: hidden; }
    .trainers-wrapper article:hover > .trainers-content {
      transform: translateY(0); }
    .trainers-wrapper article img {
      height: 100%;
      object-fit: cover; }
    .trainers-wrapper article .trainers-content {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #111;
      padding: 1rem;
      transform: translateY(55px); }
      .trainers-wrapper article .trainers-content h4 {
        color: #f00; }
      .trainers-wrapper article .trainers-content h3 {
        margin: .7rem 0; }
      .trainers-wrapper article .trainers-content .trainers-share {
        border-top: 0.1rem solid #aaa;
        margin-top: 1rem; }
        .trainers-wrapper article .trainers-content .trainers-share a {
          font-size: 1.3rem;
          color: #fff;
          margin: 0.8rem 0.9rem 0 0;
          text-transform: capitalize;
          font-weight: 400; }
          @media (max-width: 576px) {
            .trainers-wrapper article .trainers-content .trainers-share a {
              font-size: 1rem; } }
          .trainers-wrapper article .trainers-content .trainers-share a:hover {
            color: #f00; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  .banner span {
    font-size: 1.5rem;
    color: #f00;
    margin: 0;
    text-transform: capitalize;
    font-weight: 400; }
    @media (max-width: 576px) {
      .banner span {
        font-size: 1rem; } }
  .banner h3 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0.7rem 0;
    text-transform: uppercase;
    font-weight: 600; }
    @media (max-width: 576px) {
      .banner h3 {
        font-size: 1.5rem; } }
  .banner P {
    color: #aaa;
    line-height: 2;
    max-width: 40rem;
    margin: auto; }

.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem; }
  .reviews-info {
    flex: 1 1 30rem; }
    .reviews-info span {
      font-size: 1.5rem;
      color: #f00;
      margin: 0;
      text-transform: capitalize;
      font-weight: 400; }
      @media (max-width: 576px) {
        .reviews-info span {
          font-size: 1rem; } }
    .reviews-info h3 {
      font-size: 2.5rem;
      color: #fff;
      margin: 1rem 0;
      text-transform: capitalize;
      font-weight: 500; }
      @media (max-width: 576px) {
        .reviews-info h3 {
          font-size: 1.5rem; } }
    .reviews-info P {
      font-size: 1rem;
      color: #aaa;
      margin: 0 0 1rem 0;
      text-transform: capitalize;
      font-weight: 400;
      line-height: 2; }
      @media (max-width: 576px) {
        .reviews-info P {
          font-size: 1rem; } }
  .reviews-slider {
    flex: 1 1 60rem; }
    .reviews-slider .reviews-slide {
      background: linear-gradient(130deg, #111 93%, transparent 90%);
      padding: 1.5rem; }
      .reviews-slider .reviews-slide p {
        color: #aaa;
        margin-bottom: 1rem; }
      .reviews-slider .reviews-slide .user {
        display: flex;
        align-items: center;
        gap: 1rem; }
        .reviews-slider .reviews-slide .user img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%; }
          @media (max-width: 576px) {
            .reviews-slider .reviews-slide .user img {
              width: 3rem;
              height: 3rem; } }
        .reviews-slider .reviews-slide .user-info h3 {
          font-size: 1.4rem; }
          @media (max-width: 576px) {
            .reviews-slider .reviews-slide .user-info h3 {
              font-size: 1rem; } }
        .reviews-slider .reviews-slide .user-info P {
          color: #f00;
          text-transform: capitalize; }

/*# sourceMappingURL=style.css.map */
