footer {
    background-color: $dark;
    color: $whiteColor;

    .footer-wrapper {
        @include flex(space-between, flex-start, row, wrap);

        .footer-item {
            flex: 0 0 30%;

            @include breakpoint(992px) {
                flex: 0 0 80%;
            }

            h3 {
                color: $whiteColor;
                font-size: 1.4rem;
                margin-bottom: 15px;

                @include breakpoint(992px) {
                    margin-top: 20px;
                }
            }

            .logo {
                @include flex(flex-start, center);

                img {
                    width: 50px;
                }

                h1 {
                    color: $primaryColor;
                    margin-left: 10px;
                }
            }

            &:nth-child(1) {

                span {
                    font-weight: bold;
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                p {
                    margin: 20px 0px;
                }
            }

            &:nth-child(2) {

                li {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }

            &:nth-child(3) {

                li {

                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    i {
                        margin-right: 10px;
                    }

                    a {
                        color: $light;

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }

            .footer-social {

                a {
                    border: 1px solid $primaryColor;
                    text-align: center;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;

                    &:hover {
                        background-color: $primaryColor;
                    }

                    &:hover i {
                        color: $whiteColor;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    i {
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .footer-subcontent {
        padding: 40px;
        border-top: 1px solid $light;
        @include flex(space-between, center);

        @include breakpoint(576px) {
            flex-direction: column;
            text-align: center;
        }

        span {
            font-weight: 800;
            color: $primaryColor;
        }
    }
}