.gallery {

    &-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-gap: 20px;
        margin-top: 30px;

        .gallery-item {
            position: relative;
            grid-column: span 4;
            overflow: hidden;

            @include breakpoint(992px) {
                grid-column: span 6;
            }

            @include breakpoint(576px) {
                grid-column: span 12;
            }

            &:hover .gallery-overlay {
                opacity: 1;
                transition: $transition;
            }

            img {
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }

            &:nth-child(2) {
                grid-row: span 2;
            }

            &:nth-child(4) {
                grid-row: span 2;
            }

            &:nth-child(5) {
                grid-row: span 2;
            }

            .gallery-overlay {
                @include positioning(absolute, 0px, 0px, 0px, 0px, 100%, 100%);
                background: rgba(0, 0, 0, 0.5);
                opacity: 0;
                padding: 15px;
                color: $light;

                h4 {
                    color: $light;
                    font-size: 1.5rem;
                }
            }
        }
    }
}