.services {

    &-header {
        @include flex(space-between, center, row, wrap, 20px);

        @include breakpoint(992px) {
            flex-direction: column;
        }

        article {
            flex: 1;
        }

        .services-contact {
            background-color: $primaryColor;
            padding: 30px;
            @include flex(flex-start, center, row, nowrap, 20px);
            color: $light;

            i {
                font-size: 3rem;
            }

            .contact-info {

                h3 {
                    color: $light;
                    font-size: 2rem;
                }
            }
        }
    }

    &-content {
        @include flex(space-between, center, row, wrap);

        @include breakpoint(992px) {
            justify-content: center;
        }

        .services-item {
            flex: 0 0 22%;
            margin-top: 20px;

            @include breakpoint(992px) {
                flex: 0 0 47%;
            }

            @include breakpoint(768px) {
                flex: 0 0 90%;
            }

            img {
                width: 80px;

                @include breakpoint(576px) {
                    width: 60px;
                }
            }

            h4 {
                margin: 10px 0px;
                font-size: 1.4rem;
            }
        }
    }
}