.gallery {

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 1.5rem;
        margin-top: 2.5rem;
        
        @include breakpoint(400px){
            grid-gap: 1rem;
        }

        .gallery__item {
            position: relative;
            grid-column: span 4;
            overflow: hidden;

            @include breakpoint(992px) {
                grid-column: span 6;
            }

            @include breakpoint(576px) {
                grid-column: span 12;
            }

            &:hover .gallery__overlay {
                opacity: 1;
            }

            .gallery__img {
                height: 100%;
            }

            &:nth-child(2) {
                grid-row: span 2;
            }

            &:nth-child(4) {
                grid-row: span 2;
            }

            &:nth-child(5) {
                grid-row: span 2;
            }

            .gallery__overlay {
                @include positioning(absolute, 0px, 0px, 0px, 0px, 100%, 100%);
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                padding: 1rem;
                color: $light;

                .gallery__name {
                    color: $light;
                    font-size: 1.5rem;
                }
            }
        }
    }
}