* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    transition:  all .5s linear;
}


body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #555;
    overflow-x: hidden;
    font-size: 100%;

    @include breakpoint(576px){
        font-size: 70%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    font-family: "Quicksand", sans-serif;
}

a {
    color: #555;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        color: $primaryColor;
    }
}


img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

i {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.section {
    padding: 70px 0px;

    &-title {
        margin-bottom: 1rem;
    }

    &-subtitle {
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 700;
        font-size: 2rem;

        @media(max-width:576px) {
            font-size: 1.5rem;
        }

        span {
            color: $primaryColor;
        }
    }
}

.btn {
    color: $whiteColor;
    font-weight: 500;
    display: inline-block;
    padding: 15px 25px;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;

    &:hover {
        cursor: pointer;
        border: 1px solid $primaryColor;
        background: transparent;
        color: $primaryColor;
        transform: translateX(10px);
    }

    @include breakpoint(576px) {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

.social{

    a{
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: transparent;
        border: 2px solid $primaryColor;
        color: $primaryColor;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            border: 2px solid $light;
            color: $light;
        }

        @include breakpoint(576px){
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }
}