.header {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/hedaer-bg2.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;

    .nav {
        @include flex(space-between);
        padding: 1.5rem 0;

        &__logo {
            @include flex();

            &__heading {
                @include text($primaryColor, 2.5rem, 0 0 0 1rem, 700, capitalize, 1.8rem);
                
                @include breakpoint(576px) {
                    display: none;
                }
            }
        }

        .nav__hamburger {
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 100;

            @include breakpoint(576px) {
                width: 25px;
                height: 25px;
            }

            &__top,
            &__middle,
            &__bottom {
                @include positioning(absolute, 0%, auto, auto, 0%, 100%, 3px);
                background-color: $primaryColor;
                transform: rotate(0);
            }

            &__middle {
                transform: translateY(10px);
            }

            &__bottom {
                transform: translateY(20px);
            }

            &.open .nav__hamburger__top {
                transform: rotate(45deg) translateY(2px) translateX(1px);
            }

            &.open .nav__hamburger__middle {
                display: none;
            }

            &.open .nav__hamburger__bottom {
                transform: rotate(-45deg) translateY(2px) translateY(1px);
            }
        }

        .nav__mobile-menu {
            @include positioning(fixed, 0%, 0%, 0%, 0%, 100%, 100%);
            background-color: $dark;
            @include flex();
            text-align: center;
            z-index: 99;

            .nav__list {

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .nav__link {
                        @include text($light, 1.5rem, 0, 400, capitalize, 1.2rem);

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }

            &.hidden {
                transform: translateY(-100%);
            }
        }
    }

    &__content {
        @include flex(center, center, column);
        text-align: center;
        height: 80vh;

        .header__heading {
            @include text($light, 2.5rem, 0 0 1rem 0, 700, capitalize, 1.8rem);
            animation: fadeInUp 0.5s ease-in-out;
        }

        .header__social {
            margin-bottom:1.5rem;
            @include flex();
            animation: fadeInUp 0.5s ease-in-out 0.2s;
            animation-fill-mode: both;
        }

        .header__btn {
            animation: fadeInUp 0.5s ease-in-out 0.4s;
            animation-fill-mode: both;
        }
    }

    .header__corner {
        @include positioning(absolute, auto, 15px, 15px, auto);
        animation: fadeInUp 0.5s ease-in-out 0.2s;
        animation-fill-mode: both;
    }

    .header__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        animation: fadeBounce 2s infinite;
        font-size: 3rem;
        cursor: auto;
    }
}