.header {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/hedaer-bg2.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;

    .nav {
        @include flex(space-between);
        padding: 1.5rem 0;

        &__logo {
            @include flex();
            z-index: 100;

            &__heading {
                @include text($primaryColor, 2.5rem, 0 0 0 1rem, 700, capitalize, 1.8rem);
                
                @include breakpoint(576px) {
                    display: none;
                }
            }
        }

        &__hamburger {
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 100;

            @include breakpoint(576px) {
                width: 25px;
                height: 25px;
            }

            &__line {
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $primaryColor;

                &:first-child {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    bottom: 0;
                }
            }
        }

        .nav__mobile-menu {
            @include positioning(fixed, 0%, 0%, 0%, 0%, 100%, 100%);
            background-color: $dark;
            @include flex();
            text-align: center;
            z-index: 99;
            transform: translateY(-100%);

            .nav__list {

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .nav__link {
                        @include text($light, 1.5rem, 0, 400, capitalize, 1.2rem);

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }

        #nav-toggle {
            display: none;
            
            &:checked {
                &~.nav__hamburger {
                    .nav__hamburger__line {
                        &:first-child {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:last-child {
                            bottom: 50%;
                            transform: translateY(50%) rotate(-45deg);
                        }
                    }
                }

                & ~ .nav__mobile-menu {
                    transform: translateY(0);
                }
            }
        }
    }

    &__content {
        @include flex(center, center, column);
        text-align: center;
        height: 80vh;

        .header__heading {
            @include text($light, 2.5rem, 0 0 1rem 0, 700, capitalize, 1.8rem);
            animation: fadeInUp 0.5s ease-in-out;
        }

        .header__social {
            margin-bottom:1.5rem;
            @include flex();
            animation: fadeInUp 0.5s ease-in-out 0.2s;
            animation-fill-mode: both;
        }

        .header__btn {
            animation: fadeInUp 0.5s ease-in-out 0.4s;
            animation-fill-mode: both;
        }
    }

    .header__corner {
        @include positioning(absolute, auto, 15px, 15px, auto);
        animation: fadeInUp 0.5s ease-in-out 0.2s;
        animation-fill-mode: both;
    }

    .header__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        animation: fadeBounce 2s infinite;
        font-size: 3rem;
        cursor: auto;
    }
}