.video{
    position: relative;
    height: 40vh;

    &__video{
        @include positioning(absolute, 0px, 0px, 0px, 0px, 100%, 100%);
        object-fit: cover;
    }

    &__overlay{
        @include positioning(absolute, 0px, 0px, 0px, 0px, 100%, 100%);
        background: rgba(0,0,0,0.5);
    }

    &__holder{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);

       i{
        color: $light;
        font-size: 2.5rem;

            &:first-child{
              margin-right: 15px;
          }

            &:hover{
                transform: rotate(180deg);
          }
       }
    }
}