.about{
    @include flex(space-around, center, row, wrap);

    @media(max-width:992px){
        justify-content: center;
    }

    .about-item{

        &:nth-child(1){
            position: relative;
            flex: 0 0 40%;

            @media(max-width:992px){
                flex: 0 0 70%;
            }

            @media(max-width:576px){
                flex: 0 0 90%;
            }

            img{
                resize: both;
                vertical-align: middle;
                object-fit: cover;
            }

            .about-over{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 21;

                i{
                    font-size: 4.5rem;

                    @media(max-width:768px){
                        font-size: 3rem;
                    }

                    @media(max-width:576px){
                        font-size: 2rem;
                    }
                }

                h3{
                    font-size: 3rem;

                    @media(max-width:768px){
                        font-size: 2rem;
                    }
                }

                P{
                    font-size: 2rem;

                    @media(max-width:768px){
                        font-size: 1rem;
                    }
                }
                
            }

            .about-overlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                z-index: 20;
            }
        }

        &:nth-child(2){
            flex: 0 0 50%;

            @media(max-width:992px){
                flex: 0 0 70%;
                margin-top: 30px;
            }

            @media(max-width:576px){
                flex: 0 0 90%;
            }
        }
    }
}