.blog {

    &-content {
        @include flex(space-between, center, row, wrap);

        @media(max-width:992px) {
            justify-content: center;
        }

        .blog-item {
            flex: 0 0 31%;
            position: relative;

            @media(max-width:992px) {
                flex: 0 0 80%;
                margin-top: 20px;
            }

            @media(max-width:576px) {
                flex: 0 0 90%;
            }

            img {
                height: 200px;
                object-fit: cover;
                vertical-align: middle;
            }

            .team-corner {
                @include positioning(absolute, 0px, 0px, auto, auto);
            }
        }
    }
}