.contact{

    &-content{
        @include flex(space-around,flex-start,row,wrap);

        @media(max-width:992px){
            justify-content: center;
        }

        .contact-item{
            flex: 0 0 47%;

            @media(max-width:992px){
                flex: 0 0 80%;
            }

            @media(max-width:576px){
                flex: 0 0 90%;
            }

            &:nth-child(1){
                @include flex(center,flex-start,column,nowrap);

                @media(max-width:992px){
                    margin-bottom: 20px;
                }

                .form-input{
                    width: 100%;
                    border: 1px solid $primaryColor;
                    border-radius: 20px;
                    margin-bottom: 15px;
                    padding: 20px 15px;
                    color: $blackColor;

                    &::placeholder{
                        color: $blackColor;
                    }

                    textarea{
                        
                        &:focus{
                            outline: none;
                            border: none;
                        }
                    }
                }
            }

            .map{
                height: 400px;
                width: 100%;

                @media(max-width:576px){
                    display: none;
                }
            }
        }
    }
}