footer{
    background-color: #0a1026;

    .footer-content{
        @include grid(auto, 15px, center, flex-start);

        .footer-item{
            grid-column: span 3;

            @media(max-width:1200px){
                grid-column: span 6;
                margin-top: 15px;
            }

            @media(max-width:768px){
                grid-column: span 12;
            }

            .logo{
                font-size: 2.5rem;

                @media(max-width:576px){
                    font-size: 2rem;
                }
            }

            h3{
                font-size: 1.5rem;

                @media(max-width:768px){
                    font-size: 1.3rem;
                }
            }

            .footer-social{

                i{
                    @include icon(45px, $whiteColor, $blackColor);
                }
            }
        }
    }
}