.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/header-bg.jpg');
    height: auto;
    background-position: center;
    background-size: cover;

    &-content {
        @include flex(flex-start, center, row, wrap);

        @media(max-width:768px) {
            justify-content: center;
        }

        a {
            flex: 0 0 33%;
            position: relative;
            overflow: hidden;

            &:hover .portfolio-over {
                opacity: 1;
                transform: translateY(0);
                transition: $transition;
            }

            @media(max-width:992px) {
                flex: 0 0 50%;
            }

            @media(max-width:768px) {
                flex: 0 0 80%;
            }

            @media(max-width:576px) {
                flex: 0 0 90%;
            }

            img {
                vertical-align: middle;
                resize: both;
                object-fit: cover;
            }

            .portfolio-over {
                @include positioning(absolute, 0px, 0px, 0px, 0px);
                transform: translateY(-100%);
                opacity: 0;
                @include flex(center, center, column, nowrap);

                p {
                    font-size: 1.5rem
                }
            }
        }
    }

    &-popup {
        @include positioning(fixed, 50px, 50px, auto, 50px);
        display: none;
        z-index: 90;

        @media(max-width:576px) {
            top: 20px;
            right: 20px;
            left: 20px;
        }

        &.visible {
            display: block;
        }

        button {
            @include positioning(absolute, -30px, -10px, auto, auto);
        }

        img {
            object-fit: cover;
            height: auto;

            @media(max-width:576px) {
                height: 400px;
            }

            @media(max-width:450px) {
                height: 350px;
            }
        }
    }
}