.services {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/img/services-bg.jpg');
    height: auto;
    background-position: center;
    background-size: cover;
    width: 100%;

    &-content {
        @include grid(auto, 30px);

        @media(max-width:576px) {
            grid-gap: 0px;
        }

        .services-item {

            &:nth-child(1) {
                grid-column: span 7;

                @media(max-width:992px) {
                    grid-column: span 12;
                }

                .section__subtitle {
                    color: $whiteColor;
                }
            }

            &:nth-child(2) {
                position: relative;
                grid-column: span 5;
                height: 450px;

                @media(max-width:576px) {
                    margin-top: 30px;
                }

                @media(max-width:992px) {
                    grid-column: span 12;
                }

                @media(max-width:576px) {
                    height: 400px;
                }

                i {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $secondaryColor;
                }

                #left {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                }

                #right {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                }

                .services-slider {
                    height: 100%;
                    width: 100%;

                    img {
                        display: none;
                        object-fit: cover;
                        height: 100%;
                        resize: both;

                        &:nth-child(1) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}