* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: all .5s linear;
    outline: none;
    border: none;
    list-style-type: none;
}

body {
    color: #777777;
    background-color: #fff;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    overflow-x: hidden;

    @media(max-width:576px) {
        font-size: 85%;
    }

}

a {
    color: #777777;
    cursor: pointer;
}


img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


i {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 100px;
    color: $whiteColor;
    background-color: $primaryColor;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    text-transform: capitalize;

    &:hover {
        transform: translateY(10px);
        background-color: $secondaryColor;
    }

    @media(max-width:576px) {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.container {
    width: 80%;
    margin: 0px auto;

    @media(max-width:576px) {
        width: 90%;
    }
}

.section {
    padding: 70px 0px;

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        color: $secondaryColor;
        margin-bottom: 1rem;
    }

    &__subtitle {
        position: relative;
        padding-left: 60px;
        font-size: 2rem;
        color: $blackColor;
        font-weight: 700;
        text-transform: capitalize;

        @media(max-width:576px) {
            font-size: 1.5rem;
        }

        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: 0;
            width: 45px;
            height: 2px;
            background: #FFC600;
        }

        &::after {
            position: absolute;
            content: "";
            top: 14px;
            left: 0;
            width: 45px;
            height: 2px;
            background: #23A036;
        }
    }
}

#toTop {
    opacity: 0;
    @include positioning(fixed, auto, 15px, 15px, auto);

    &.visible {
        opacity: 1;
    }
}