.nav {
    @include flex(space-between, flex-start);
    position: relative;

    @media(max-width:992px) {
        background-color: $secondaryColor;
        align-items: center;
        padding: 0px 30px;
    }

    &__logo {
        flex: 1;
        align-self: stretch;
        @include flex();
        font-size: 4.5rem;

        @media(max-width:992px) {
            justify-content: flex-start;
        }

        @media(max-width:768px) {
            font-size: 3.5rem;
        }

        @media(max-width:576px) {
            font-size: 2.5rem;
        }
    }

    &__content {
        flex: 3;

        .nav__info {
            @include flex(space-between, center);

            @media(max-width:992px) {
                display: none;
            }

            .nav__social {

                a {
                    &:hover {
                        transform: rotateX(180deg);
                    }
                }
            }
        }

        .nav__list {
            @include flex(flex-end, center);

            @media(max-width:992px) {
                @include positioning(absolute, 100%, 0, auto, 0);
                background-color: $primaryColor;
                z-index: 50;
                justify-content: center;
                text-align: center;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            ul {
                display: flex;

                @media(max-width:992px) {
                    flex-direction: column;
                    gap: 1rem;
                }

                @media(max-width:576px) {
                    width: 250px;
                }

                li {

                    a {
                        &:hover {
                            color: $secondaryColor;
                        }
                    }
                }
            }

            &.hidden {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
            }
        }
    }

    .nav__hamburger {
        display: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: none;
        z-index: 101;
        position: relative;

        @media(max-width:992px) {
            display: block;
        }

        @media(max-width:576px) {
            width: 25px;
            height: 25px;
        }

        .hamburger-top,
        .hamburger-middle,
        .hamburger-bottom {
            @include positioning(absolute, 0%, auto, auto, 0%, 100%, 3px);
            background-color: $blackColor;
            transform: rotate(0);

        }

        .hamburger-middle {
            transform: translateY(10px);
        }

        .hamburger-bottom {
            transform: translateY(20px);
        }

        &.open .hamburger-top {
            transform: rotate(45deg) translateY(2px) translateX(1px);
        }

        &.open .hamburger-middle {
            display: none;
        }

        &.open .hamburger-bottom {
            transform: rotate(-45deg) translateY(2px) translateY(1px);
        }
    }
}