.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../../assets/img/header-bg.jpg');
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    &-content {
        @include flex(flex-start, center, row, wrap);

        @media(max-width:768px) {
            justify-content: center;
        }

        .portfolio__item {
            flex: 0 0 33%;
            position: relative;
            overflow: hidden;

            @media(max-width:992px) {
                flex: 0 0 50%;
            }

            @media(max-width:992px) {
                flex: 0 0 100%;
            }

            &:hover>img {
                transform: scale(1.2);
            }
        }
    }
}
