.team {

    &-content {
        @include grid(250px, 3rem);

        .team-item {

            .team-img {
                position: relative;
                overflow: hidden;

                &:hover .team-social {
                    transform: translateX(0);
                    opacity: 1;
                }

                &:hover img {
                    transform: translateX(30px);
                }

                .team-social {
                    @include positioning(absolute, 0px, auto, 0px, 0px, auto, 100%);
                    @include flex(center, flex-start, column);
                    transform: translateX(-100%);
                    opacity: 0;

                    a {

                        i {
                            @include icon(45px, $secondaryColor, $whiteColor);
                        }
                    }
                }
            }
        }
    }
}