@keyframes fadeBounce {

    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    20% {
        opacity: 0;
        transform: translateY(-20px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(-20px);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}