@mixin flex($justify:center, $align:center, $direction: row, $wrap: nowrap, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid ($value, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: $gap;
}

//poz
@mixin text($color, $fontSize, $margin:0, $weight:400, $transform:capitalize, $fontSizeBp:1rem){
    color: $color;
    font-size: $fontSize;
    margin: $margin;
    font-weight: $weight;
    text-transform: $transform;

    @media(max-width:576px){
        font-size:$fontSizeBp;
    }
}

@mixin positioning($position, $top, $right, $bottom, $left, $width: auto, $height: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
}


@mixin breakpoint($bp) {
    @media(max-width:$bp) {
        @content;
    }
}
