.booking{
    background-color: $secondaryColor;
    padding: 1rem;
    margin-top: -4rem;
    border-radius: 1rem;

    form{  
        @include flex(center, flex-end, row wrap, 2rem);

        div{
            flex: 1 1 10rem;

            label{
                display: block;
                margin-bottom: .8rem;
                text-transform: capitalize;
            }

            .form-input{
                width: 100%;
                border: 1px solid $primaryColor;
                border-radius: 5rem;
                background: transparent;
                padding: 1rem;
                color: $white;

                &::placeholder{
                    color: $white;
                }
            }
        }

        .btn{
            flex: 1 1 10rem;
        }
    }
}