.reviews {
    @include flex(space-between, center, row wrap, 1.5rem);

    &-item {
        flex: 0 0 45%;

        @include breakpoints(992px) {
            flex: 0 0 100%;
        }

        .reviews-wrapper {
            @include flex(space-between, center, row wrap, 1.5rem);

            .reviews-box {
                flex: 1 1 45%;
                border-radius: 1rem;
                background-color: $secondaryColor;
                border: 0.2rem solid $secondaryColor;
                padding: 1rem;

                @include breakpoints(1200px) {
                    flex: 0 0 100%;
                }

                @include breakpoints(992px) {
                    flex: 0 0 45%;
                }

                @include breakpoints(576px) {
                    flex: 0 0 100%;
                }

                &:hover {
                    border: 0.2rem solid $primaryColor;
                }

                .reviews-user {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    text-transform: capitalize;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                    }

                    h3 {
                        color: $white;
                    }
                }
            }
        }
    }
}